.header-wrapper {
  padding: 20px 40px;
  border-bottom: 1px solid #e3e3e2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1024px) {
    display: none;
  }
}
nav {
  &.hide {
    opacity: 0;
    z-index: -999;
  } /* Initially hidden */
  &.show {
    z-index: 999;
    opacity: 1;
  }
}

.lang-info {
  display: flex;
  align-items: center;
  gap: 20px;
  .info {
    height: 40px;
  }
}
.lang-s {
  position: relative !important;
  gap: 6px;
  display: flex;
  align-items: center;

  i {
    font-size: 12px;
  }
  .dropdown-block {
    position: absolute;
    display: flex !important;
    top: 35px;
    right: -19px;
    backdrop-filter: blur(40px);
    background-color: rgba(71, 71, 71, 0.5019607843);
    padding: 10px;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgba(71, 71, 71, 0.5019607843);
    border-radius: 0.76em;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.35em;
    z-index: 3;
    &::before {
      content: "";
      position: absolute;
      top: -7px;
      right: 8%;
      transform: translateX(-40%);
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid rgba(71, 71, 71, 0.5019607843);
    }
    .items {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .item {
        color: rgb(230, 230, 230);
        cursor: pointer;
        background-color: rgba(221, 221, 221, 0);
        border-radius: 0.59em;
        padding: 1.05em 1.5em;
        /* font-size: 0.82em; */
        font-weight: 700;
        line-height: 1.1em;
        transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        text-decoration: none;
        font-size: 1em !important;
        &:hover {
          background-color: var(--primary-color);
        }
      }
    }
  }
}
#mob {
  display: none;

  .nav-links {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    .sec-links {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    a {
      color: #4b4b4b;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      width: 100%;
      padding: 12px 16px;
      border-radius: 12px;
      gap: 12px;
      display: flex;
      align-items: center;

      &.active {
        background: var(--primary-color);
        p {
          color: #fff !important;
        }

        path {
          stroke: #fff !important;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  #mob {
    flex-direction: column;
    padding: 20px 40px;
    border-bottom: 1px solid #e3e3e2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .lang-info {
      display: flex;
      padding: 0px 16px 16px 0px;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
    }
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    nav {
      visibility: visible;
      position: absolute;
      background: #fff;
      top: 0;
      right: 0;
      height: 100svh;
      width: 100%;
      z-index: 3;
      padding: 100px 20px;
      ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 50px;
        min-width: 270px;
        li {
          a {
            color: #000;
          }
        }
      }
    }
  }
}
.logo {
  z-index: 4;
}
.back {
  background: #ff000000;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23px;
  height: 17px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 4;
}

.burger span {
  display: block;
  width: 23px;
  height: 3px;
  background: #656668;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}

.burger.active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: translateY(-4px) rotate(-45deg);
}
