.course-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 1;
  padding: 50px 100px;
  @media (max-width: 769px) {
    gap: 15px;
  }
  .back {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    width: 720px;
    position: relative;
    @media (max-width: 769px) {
      width: 100%;
    }
    i {
      color: #656668;
      position: absolute;
      left: -43px;
      top: 5px;
    }
    p {
      font-size: 20px;
      font-weight: 700;
      @media (max-width: 480px) {
        font-size: 17px;
      }
    }
  }
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 769px) {
      flex-direction: column-reverse;
      gap: 20px;
      align-items: flex-start;
    }
    button {
      padding: 8px 16px;
      height: 35px;
      border-radius: 6px;
      background-color: #c6e7ff;
      color: var(--primary-color);
      font-weight: 600;
      font-size: 16px;
      &.not-allowed {
        background-image: url("https://metagroupblob.blob.core.windows.net/delivery-container/bf81711c-3f0a-4445-bc76-e7b6479137ec-image%2023.png");
        background-repeat: round;
        background-size: cover;
        color: #FFF;
      }
    }
  }
  .search {
    display: flex;
    align-items: center;
    gap: 16px;
    p {
      font-weight: 500;
      font-size: 14px;
    }
    .search-block {
      position: relative;
      display: flex;
      align-items: center;
      i {
        color: #90928d;
        position: absolute;
        left: 10px;
        font-size: 13px;
      }
      input {
        color: #90928d !important;
        font-size: 14px;
        font-weight: 400;
        border: none;
        background: transparent !important;
        border-left: 1px solid #90928d;
        border-radius: 0 !important;
        height: 17px;
        padding-left: 30px;
        width: 400px;
        @media (max-width: 769px) {
          width: 200px;
        }
      }
    }
  }
  .content {
    .list{
      margin-top: 17px;
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 16px;
      align-items: center;
      //gap: 12px;
      border-radius: 6px;
      border: 1px solid #E3E3E2;
      .l-heading{
        display: flex;
        align-items: center;
        height: 30px;
        align-self: stretch;
        border-radius: 6px;
        background: #EFEFEF;
        .col{
          flex: 1;
          padding: 9px;
          p{
            color: #4C4C54;
            font-family: Inter;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
      .l-body{
        display: flex;
        flex-direction: column;
        width: 100%;
        .row{
          display: flex;
          align-items: center;
          width: 100%;
          border-bottom: 1px solid #E3E3E2;

          .col{
            flex:1;
            padding: 22px 9px;
            p{
              color: #4C4C54;
              font-family: Inter;
              font-size: 13px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
            &.name{
              p{
                color: #13170C;
                font-size: 14px;
                font-weight: 600;
              }
            }
            &.btn{
              button{
                display: flex;
                padding: 6px 15px;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;
                border-radius: 45px;
                background: #009245;
                //width: 74px;
                height: 28px;
                color: #FFF;
                font-family: Inter;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                &.unpaid{
                  background: #EDCA1D;
                  color:#4C4C54
                }
              }
              p{
                color: #009245;
                font-family: Inter;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
            }

          }
          &:last-child{
            border-bottom: none;
            .col{
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
}
::ng-deep {
  .p-dialog .p-dialog-header,
  .p-dialog .p-dialog-content {
    background: transparent !important;
  }
  .confirm-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    i {
      font-size: 60px;
      color: orange;
    }
    p {
      width: 70%;
      text-align: center;
      color: orange;
      margin-bottom: 21px !important;
    }
  }
  .p-dialog-footer {
    .p-button {
      padding: 0px 20px !important;
      height: 40px;
      background: #f6f6f6 !important;
      border: none !important;
      color: #656668 !important;
      &.p-confirmdialog-accept-button {
        background: var(--primary-color) !important;
        border: none !important;
        color: #fff !important;
      }
    }
  }
}
