<div class="course-info">
  <div class="back">
    <p>{{ "Payments" | translate }}</p>
  </div>
  <div class="content">
    <div class="heading">
      <div class="search">
        <p>{{ payments.length + " " + ("payments" | translate) }}</p>
        <div class="search-block">
          <i class="pi pi-search"></i>
          <input
            type="text"
            [(ngModel)]="searchText"
            placeholder="{{ 'Search' | translate }}..."
            (input)="searchByName()"
          />
        </div>
      </div>
    </div>
    <div class="list">
      <div class="l-heading">
        <div class="col">
          <p>{{ "Name" | translate }}</p>
        </div>
        <div class="col">
          <p>{{ "Student" | translate }}</p>
        </div>
        <div class="col">
          <p>{{ "Date" | translate }}</p>
        </div>
        <div class="col">
          <p>{{ "Status" | translate }}</p>
        </div>
      </div>
      <div class="l-body">
        <div class="row" *ngFor="let item of filteredList">
          <div class="col name">
            <p>{{ item.course }}</p>
          </div>
          <div class="col">
            <p>{{ item.student }}</p>
          </div>
          <div class="col">
            <p>
              {{ (item.dueDate | date: "MMMM")! | translate }}
              {{ item.dueDate | date: "d, yyyy" }}
            </p>
          </div>
          <div class="col btn">
            <button *ngIf="item.paid">
              {{ "Paid" }}
            </button>
            <button class="unpaid" *ngIf="!item.paid">
              {{ "Unpaid" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
