.wrapper {
  .item {
    display: flex;
    width: 723px;
    //height: 326px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid #5a4bea;
    position: relative;
    .icon {
      border-radius: 3px;
      background: #3b3199;
      position: absolute;
      right: -1px;
      top: -1px;
      display: flex;
      width: 31px;
      height: 24px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-top-right-radius: 16px;
    }
    .cols {
      display: flex;
      align-items: flex-start;
      gap: 97px;
      align-self: stretch;
        .col{
          flex:1;
        }
      .col.left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        .current {
          display: flex;
          padding: 3px 8px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 20px;
          background: #3b3199;
          p {
            color: #fff;
            font-family: Inter;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; /* 184.615% */
          }
        }
        .type{
          display: flex;
          padding: 10px 0;
          justify-content: center;
          align-items: center;
          gap: 10px;
          p{
            color: #13170C;
            font-family: Inter;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }
        .date{
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;
          p{
            color: #13170C;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
          }
          span{
            color: #13170C;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; /* 171.429% */
          }
        }
      }
      .col.right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 36px;
        .price{
          display: flex;
          align-items: flex-end;
          gap: 8px;
          p{
            color: #13170C;
            leading-trim: both;
            text-edge: cap;
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
          }
          span{
            color: #656668;
            leading-trim: both;
            text-edge: cap;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
          }
        }
        .items{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          .f-item{
            display: flex;
            align-items: center;
            gap: 12px;
            align-self: stretch;
            p{
              color: #13170C;
              leading-trim: both;
              text-edge: cap;
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 150% */
            }
          }
        }
      }
    }
    .line{
      background: #E3E3E2;
      width: 100%;
      height: 1px;
    }
    .statistics{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;
      width: 100%;
      .row{
        display: flex;
        height: 17px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        .left{
          display: flex;
          align-items: center;
          gap: 10px;
          p{
            color: #4C4C54;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          span{
            background: #4C4C54;
            width: 4px;
            height: 4px;
            border-radius: 50%;
          }
        }
        .right{
          display: flex;
          justify-content: space-between;
          gap:15px;
          align-items: center;
          p{
            color: #4C4C54;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          span{
            color: #0094FF;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: auto;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
            cursor: pointer;
          }
        }
      }
      .st{
        width: 100%;
        height: 3px;
        border-radius: 41px;
        background: #E3E3E2;
        .filled{
          border-radius: 26px;
          background: #3B3199;
          height: 3px;
        }
      }
    }
  }
}
