<div class="wrapper">
  <div class="item">
    <div class="row">
      <div class="current">
        <p>{{ "Current plan" | translate }}</p>
      </div>
    </div>
    <div class="cols">
      <div class="col left">
        <div class="type">
          <p>{{ selectedPackage.name }}</p>
        </div>
        <div class="date">
          <p>{{ "Next payment" | translate }}</p>
          <span>{{ subscription.expireDate | date: "dd/MM/yyyy" }}</span>
        </div>
        <div class="price">
          <label>{{ "Current Price" | translate }}</label>
          <p>
            {{ selectedPackage.price }}₾
            <span>/ {{ "month" | translate }}</span>
          </p>
        </div>
      </div>
      <div class="col right">
        <div class="items">
          <label>{{ "Private courses" }}</label>
          <div class="f-item">
            <img src="d-check.svg" alt="" />
            <p>
              {{ selectedPackage.courseAmount }} {{ "Courses" | translate }}
            </p>
          </div>
          <div class="f-item">
            <img src="d-check.svg" alt="" />
            <p>
              {{ selectedPackage.maxCapacity }}
              {{ "Students" | translate }}
            </p>
          </div>
          <div class="f-item">
            <img src="d-check.svg" alt="" />
            <p>
              {{ selectedPackage.fileStorage }} GB
              {{ "storage" | translate }}
            </p>
          </div>
        </div>
        <div class="items">
          <label>{{ "Public courses" }}</label>
          <div class="f-item">
            <img src="d-check.svg" alt="" />
            <p>
              {{ selectedPackage.openCourseAmount }} {{ "Courses" | translate }}
            </p>
          </div>
          <div class="f-item">
            <img src="d-check.svg" alt="" />
            <p>
              {{ selectedPackage.openMaxCapacity }}
              {{ "Students" | translate }}
            </p>
          </div>
          <div class="f-item">
            <img src="d-check.svg" alt="" />
            <p>
              {{ selectedPackage.openFileStorage }} GB
              {{ "storage" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="statistics">
      <label>{{ "Storage Usage" | translate }}</label>
      <div class="st-item">
        <div class="row">
          <div class="left">
            <p>{{ "Private courses storage" | translate }}</p>
            <div class="percentage" >
              <p>{{ subscription.usedPercentage ? subscription.usedPercentage.toFixed(2) : 0 }} %</p>
            </div>
          </div>
          <div class="right">
            <p>
              {{ subscription.fileStorage }}GB /
              {{ subscription.maxFileStorage }}GB
            </p>
          </div>
        </div>
        <div class="st">
          <div
            class="filled"
            [ngStyle]="{ width: subscription.usedPercentage + '%' }"
          ></div>
        </div>
      </div>
      <div class="st-item">
        <div class="row">
          <div class="left">
            <p>{{ "Private courses storage" | translate }}</p>
            <div class="percentage" >
              <p style="color:#009245;">{{ subscription.usedPublicPercentage ?  subscription.usedPublicPercentage.toFixed(2) : 0 }} %</p>
            </div>
          </div>
          <div class="right">
            <p>
              {{ subscription.openFileStorage }}GB /
              {{ subscription.openMaxFileStorage }}GB
            </p>
          </div>
        </div>
        <div class="st">
          <div
            class="filled"
            style="background: #009245;"
            [ngStyle]="{ width: subscription.usedPublicPercentage + '%' }"
          ></div>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="upgrade" (click)="upgradePlan()">
      <p>{{'Upgrade' | translate}}</p>
    </div>
  </div>
</div>
