<div class="wrapper">
  <div class="form">
    <div class="name">
      <input
        type="text"
        [(ngModel)]="request.name"
        autofocus
        placeholder="{{'Enter your course title here (no pressure, but make it epic)' | translate}}"
      />
    </div>
    <div class="image">
      <div class="file-input">
        <label
          class="file-label"
          for="file"
          style="cursor: pointer"
          [ngClass]="{ invalid: !request.image.isValid && isSubmitted }"
        >
          <span class="unknown" *ngIf="!request.image.fileUrl">
            <img src="unknown-image.svg" alt="" />
            <img
              class="plus"
              src="plus.svg"
              alt=""
              *ngIf="!request.image.fileLoading"
            />
            <i
              *ngIf="request.image.fileLoading"
              class="pi pi-spin pi-spinner"
            ></i>
          </span>

          <img
            *ngIf="request.image.fileUrl && !request.image.fileLoading"
            [src]="request.image.fileUrl"
            alt=""
          />
        </label>
        <input
          id="file"
          type="file"
          [(ngModel)]="request.image.fakeFile"
          (change)="getFile($event)"
          multiple="false"
          accept="image/*"
        />
      </div>
    </div>
    <div class="language">
      <label>{{ 'Language' | translate }}:</label>
      <div class="items">
        <div
          class="item"
          *ngFor="let lang of languages"
          (click)="request.systemLanguageId = lang.id"
          [ngClass]="{ selected: lang.id === request.systemLanguageId }"
        >
          <img
            [src]="lang.icon"
            alt=""
          />
          <p>{{ lang.name }}</p>
        </div>
      </div>
    </div>
    <div class="description">
      <label for="descr">{{ 'Tell us what this course is all about' | translate }}:</label>
      <textarea
        id="descr"
        [(ngModel)]="request.description"
        placeholder="{{'Keep it short, but make it unforgettable' | translate}}"
      ></textarea>
    </div>
    <div class="btns">
      <button (click)="location.back()">{{ 'Cancel' | translate }}</button>
      <button class="save" (click)="save()">{{ 'Save' | translate }}</button>
    </div>
  </div>
</div>
