.wrapper {
  display: flex;
  justify-content: center;
  @media (max-width: 769px) {
    padding: 24px 16px;
  }
  .form,
  .isOpen {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
    @media (max-width: 769px) {
      width: 100%;
      padding: 0;
    }
    .name {
      width: 100%;
      input {
        width: 100% !important;
        background: transparent !important;
        border: none !important;
        font-size: 20px !important;
        font-weight: 600 !important;
        color: #90928d !important;
        line-height: 24.2px !important;
        padding: 0 !important;
      }
    }
    .language {
      display: flex;
      align-items: center;
      gap: 24px;
      @media (max-width: 769px) {
        flex-wrap: wrap;
      }
      label {
        font-size: 14px;
        font-weight: 500;
      }
      .items {
        display: flex;
        align-items: center;
        gap: 16px;
        @media (max-width: 769px) {
          flex-wrap: wrap;
        }
        .item {
          min-width: 113px;
          height: 41px;
          border-radius: 45px;
          padding: 10px;
          display: flex;
          align-items: center;
          background: #f6f6f6a3;
          gap: 10px;
          cursor: pointer;
          &.selected {
            background-color: var(--primary-color);
            p {
              color: #fff;
            }
          }
          img {
            width: 21px;
            height: 21px;
            border-radius: 50%;
          }
          p {
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
    .description {
      display: flex;
      flex-direction: column;
      gap: 12px;
      //margin-top: 20px  ;
      label {
        color: #90928d;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      textarea {
        width: 100%;
        height: 112px;
        padding: 12px 16px;
        border: 1px solid #e0e0df;
        border-radius: 12px;
        font-size: 14px;
        font-weight: 600;
        line-height: 16.94px;
        color: #90928d !important;
        background: transparent !important;
      }
    }
    .btns {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 15px;
      margin-top: 20px;
      button {
        background: #f6f6f6;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        color: #656668;
        font-size: 14px;
        font-weight: 600;
        width: 120px;
        &.save {
          background: var(--primary-color);
          color: #fff;
        }
      }
    }
  }
  .isOpen {
    padding: 0;
  }
}

.file-input {
  display: flex;
  align-items: center;
  justify-content: center;
  label.file-label {
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 14px;
    cursor: pointer;
    color: var(--netural-80, #4e4e4e);
    margin-top: 8px;
    text-align: center;
    width: 600px;
    max-height: 185px;
    border-radius: 8px;
    overflow: hidden;
    p {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    i {
      margin: 0 auto;
      font-size: 40px !important;
    }
  }

  input {
    display: none;
  }
}
.image {
  img {
    width: 100%;
    border-radius: 8px;
    height: 100%;
  }
}
.unknown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .plus,
  i {
    position: absolute;
    width: 40px;
  }
}
::ng-deep .p-datepicker {
  .p-inputtext {
    height: 48px !important;
    border-radius: 12px !important;
    background: none !important;
  }
}
.input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.icon {
  position: absolute;
  right: 16px;
}
.row {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  .input-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    label {
      color: #90928d;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    input {
      display: flex;
      height: 48px;
      padding: 12px 16px;
      justify-content: space-between;
      align-items: center;
      border-radius: 12px;
      border: 1px solid #e0e0df;
      align-self: stretch;
      background: none !important;
      width: 100%;
    }
  }
}
::ng-deep {
  .p-toggleswitch {
    //  width: 31px !important;
    height: 22px !important;
  }
  //.p-toggleswitch .p-toggleswitch-slider {
  //  width: 31px !important;
  //  height: 15px !important;
  //  border-radius: 999px !important;
  //}
  .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
    background: var(--primary-color) !important;
  }
  //.p-toggleswitch .p-toggleswitch-handle {
  //  width: 9px !important;
  //  height: 9px !important;
  //  top: 1.4px !important;
  //  left: 1.4px !important;
  //}
  //.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-handle {
  //  transform: translateX(9px) !important;
  //}
  .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-handle {
    height: 17px !important;
    width: 17px !important;
  }
  .p-toggleswitch-handle {
    height: 16px !important;
    width: 17px !important;
    top: 3px !important;
    margin-block-start: auto !important;
  }
  .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-handle {
    inset-inline-start: 28px !important;
  }
}
.switcher {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  cursor: pointer;
  p {
    overflow: hidden;
    color: #5a4bea;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    color: #13170c;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  span {
    display: inline-flex;
    align-items: flex-end;
    gap: 6px;
    color: #919090;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.will-learn {
  padding: 25px;
  border-radius: 16px;
  border: 0.75px solid #e3e3e2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .heading {
    width: 100%;
    p {
      color: #13170c;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 27px; /* 150% */
      letter-spacing: -0.439px;
    }
  }
  .items {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 12px;
    .item {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 12px;
      .input-item {
        width: 100%;
        flex: 1;
        input{
          display: flex;
          height: 42px;
          padding: 12px 16px;
          justify-content: space-between;
          align-items: center;
          border-radius: 12px;
          border: 1px solid #e0e0df;
          align-self: stretch;
          background: none !important;
          width: 100%;
        }
      }
      .remove {
        min-width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        i{
          color: #EF3838;
        }
      }
    }
    .add {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap:8px;

      p,i {
        color: #3b3199;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px; /* 150% */
        letter-spacing: -0.15px;
      }
    }
  }
}

.input-block{

  a{
    color: #3B3199;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.15px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
}
label.invalidLabel{
  a{
    color: red !important;
  }
}
