<div class="course-info">
  <div class="back" (click)="back()">
    <i class="pi pi-chevron-left"></i>
    <p>{{ course.name }} - {{ group.name }}</p>
  </div>
  <div class="content">
    <div class="tabs">
      <a class="item" routerLink="materials" [routerLinkActive]="['selected']">
        <p>{{ "Materials" | translate }}</p>
      </a>

      <a class="item" routerLink="members" [routerLinkActive]="['selected']">
        <p>{{ "Students" | translate }}</p>
      </a>
    </div>
    <div class="inner-tab-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
