.back-change  {
  display: flex;
  align-items: center;
  gap: 20px;
}

.course-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 10px;
  z-index: 1;
  @media (max-width: 769px) {
    gap: 15px;
  }

  .back {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    width: 720px;
    position: relative;
    @media (max-width: 769px) {
      width: 100%;
    }
    i {
      color: #656668;
      position: absolute;
      left: -43px;
      top: 5px;
    }

    p {
      font-size: 20px;
      font-weight: 700;
      @media (max-width: 480px) {
        font-size: 17px;
      }
    }
  }
  .content {
    .tabs {
      display: flex;
      align-items: center;
      gap: 10px;
      .item {
        height: 33px;
        border-radius: 37px;
        padding: 8px 12px;
        cursor: pointer;
        text-decoration: none;
        p {
          color: #90928d;
          font-size: 14px;
          font-weight: 500;
        }
        &.selected {
          background: var(--primary-color);
          p {
            color: #fff;
          }
        }
      }
    }

  }
}
.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .item {
    display: flex;
    align-items: center;
    width: 100px;
    height: 32px;
    border-radius: 8px;
    gap: 15px;
    cursor: pointer;
    .icon {
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    p,
    i {
      font-weight: 500;
      font-size: 14px;
      color: #90928d;
    }
    &.delete {
      p {
        color: #ef3838;
      }
    }
  }
}
