.back {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  width: 720px;
  position: relative;
  @media (max-width: 769px) {
    width: 100%;
  }
  i {
    color: #656668;
    position: absolute;
    left: -43px;
    top: 5px;
  }
  p {
    font-size: 20px;
    font-weight: 700;
    @media (max-width: 480px) {
      font-size: 17px;
    }
  }
}
.tab-content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .heading {
      display: flex;
      align-items: center;
      gap: 14px;
      cursor: pointer;
      p {
        font-size: 20px;
        font-weight: 700;
      }
    }
    .sub-topics {
      display: flex;
      flex-direction: column;
      gap: 14px;
      .sub-item {
        .sub-inner {
          border: 1px solid #e3e3e2;
          border-radius: 6px;
          padding: 16px;
          display: flex;
          flex-direction: column;
          gap: 25px;
          .sub-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
              font-size: 16px;
              font-weight: 500;
            }
          }
          label {
            height: 100%;
            width: 100%;
            cursor: pointer;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            color: var(--primary-color);
          }
        }
      }
      .add-subtopic {
        display: flex;
        align-items: center;
        gap: 16px;
        button {
          display: flex;
          padding: 13px 24px;
          justify-content: center;
          align-items: center;
          gap: 12px;
          border-radius: 6px;
          border: 1px solid #e3e3e2;
          color: #3b3199;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          flex: 1;
          &:first-child {
            flex: 3;
          }
        }
      }
    }
  }
  .create-topic {
    button {
      width: 100%;
      height: 41px;
      border-radius: 6px;
      background: #c6e7ff;
      font-size: 16px;
      font-weight: 600;
      color: var(--primary-color);
    }
  }
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .item {
    display: flex;
    align-items: center;
    width: 100px;
    height: 32px;
    border-radius: 8px;
    gap: 15px;
    cursor: pointer;
    .icon {
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    p,
    i {
      font-weight: 500;
      font-size: 14px;
      color: #90928d;
    }
    &.delete {
      p {
        color: #ef3838;
      }
    }
  }
}
::ng-deep .p-popover-content {
  padding: 12px 15px;
}
button {
  padding: 0;
  height: auto;
}
.btns {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.inp {
  width: 100%;
  input {
    width: 100% !important;
  }
}
::ng-deep {
  .p-panel.p-panel-toggleable .p-panel-header,
  .p-panel .p-panel-content,
  .p-dialog .p-dialog-header,
  .p-dialog .p-dialog-content {
    background: transparent !important;
  }
}
.menu-btn {
  width: 20px;
}
::ng-deep {
  .p-dialog .p-dialog-header,
  .p-dialog .p-dialog-content {
    background: transparent !important;
  }
  .confirm-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    i {
      font-size: 60px;
      color: orange;
    }
    p {
      width: 70%;
      text-align: center;
      color: orange;
      margin-bottom: 21px !important;
    }
  }
  .p-dialog-footer {
    .p-button {
      padding: 0px 20px !important;
      height: 40px;
      background: #f6f6f6 !important;
      border: none !important;
      color: #656668 !important;
      &.p-confirmdialog-accept-button {
        background: var(--primary-color) !important;
        border: none !important;
        color: #fff !important;
      }
    }
  }
}
.mat-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border-bottom: 1px solid #e3e3e2;
  a {
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: #5a4bea;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 60%;
    @media (max-width: 400px) {
      font-size: 14px;
    }
  }
  .mat-lang {
    color: #13170c;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @media (max-width: 400px) {
      font-size: 12px;
    }
  }
}
.add-mat {
  button {
    height: 41px;
    color: #13170c;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    width: 183px;
    padding: 11px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 6px;
    background: #e7e7e6;
  }
}
.sub-item.cdk-drag-preview {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  border: 1px solid #e3e3e2;
  border-radius: 6px;
  padding: 16px !important;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sub-item.cdk-drag-placeholder {
  opacity: 0.3;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.heading {
  //cursor: grab;
}

.sub-heading {
  //cursor: grab;
  display: flex;
  justify-content: space-between;
}

.item.cdk-drag-preview {
  border-radius: 6px;
  padding: 16px !important;
  display: flex;
  flex-direction: column;
  gap: 25px;

  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
  max-height:90svh;
  .heading {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    p {
      font-size: 20px;
      font-weight: 700;
    }
  }
  .sub-topics {
    display: flex;
    flex-direction: column;
    gap: 14px;
    .sub-item {
      .sub-inner {
        border: 1px solid #e3e3e2;
        border-radius: 6px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        .sub-heading {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            font-size: 16px;
            font-weight: 500;
          }
        }
        label {
          height: 100%;
          width: 100%;
          cursor: pointer;
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          color: var(--primary-color);
        }
      }
    }
    //.add-subtopic {
    //  button {
    //    width: 100%;
    //    color: #90928d;
    //    background: transparent !important;
    //    border: none;
    //    font-size: 16px;
    //    font-weight: 600;
    //    padding: 0 !important;
    //    text-align: center;
    //    height: 21px;
    //  }
    //}
    .add-subtopic {
      display: flex;
      align-items: center;
      gap: 16px;
      button {
        display: flex;
        padding: 13px 24px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 6px;
        border: 1px solid #e3e3e2;
        color: #3b3199;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        flex: 1;
        &:first-child {
          flex: 3;
        }
      }
    }
  }
}

.item.cdk-drag-placeholder {
  opacity: 0.3;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.d-btns {
  flex: 1;
  display: flex;
  /* box-decoration-break: clone; */
  align-items: center;
  justify-content: flex-end;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.sub-content {
  width: 100%;
  display: flex;
  //align-items: center;
  flex-direction: column;
  gap: 16px;
  .materials {
    width: 100%;
  }
}
::ng-deep {
  .p-checkbox, .p-checkbox-box {
    width: 20px;
    height: 20px;
  }
  .p-checkbox-checked .p-checkbox-box {
    border-color: var(--primary-color) !important;
    background: var(--primary-color) !important;
    height: 100%;
  }

}
.naming{
  display: flex;
  align-items: center;
  gap: 10px;
}
::ng-deep{
  .p-toggleswitch {
  //  width: 31px !important;
    height: 22px !important;
  }
  //.p-toggleswitch .p-toggleswitch-slider {
  //  width: 31px !important;
  //  height: 15px !important;
  //  border-radius: 999px !important;
  //}
  .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider{
    background: var(--primary-color) !important;

  }
  //.p-toggleswitch .p-toggleswitch-handle {
  //  width: 9px !important;
  //  height: 9px !important;
  //  top: 1.4px !important;
  //  left: 1.4px !important;
  //}
  //.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-handle {
  //  transform: translateX(9px) !important;
  //}
  .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-handle{
    height: 17px !important;
    width: 17px !important;
  }
  .p-toggleswitch-handle{
    height: 17px !important;
    width: 17px !important;
    top:3px !important;
    margin-block-start: auto !important;
  }
  .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-handle{
    inset-inline-start: 28px !important;
  }
}
.selection{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  .left{
    display: flex;
    align-items: center;
    gap: 9px;
    cursor: pointer;
    p{
      overflow: hidden;
      color: #5A4BEA;
      text-overflow: ellipsis;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .remove {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    button{
      display: flex;
      align-items: center;
      gap: 9px;
      align-self: stretch;
      color: #EF3838;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }


  }
}
.topic-files{
  .sub-inner {
    padding: 0 !important;
    .mat-item{
      &:last-child{
        border: none;
      }
    }
  }
}
