.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 54px 74px 54px 65px;
  @media (max-width: 769px) {
    padding: 24px 16px;
  }
  .tabs {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 900px;
    max-width: 100%;
    @media (max-width: 769px) {
      width: 100%;
    }
    .item {
      height: 33px;
      padding: 8px 12px;
      cursor: pointer;
      text-decoration: none;
      p {
        color: #90928d;
        font-size: 14px;
        font-weight: 500;
      }
      &.selected {
        border-bottom: 1px SOLID #000;
        p {
          color: var(--text-color);
        }
      }
    }
  }
  .form {
    display: flex;
    gap: 50px;
    margin-top: 40px;
    width: 900px;
    @media (max-width: 769px) {
      width: 100%;
    }
    form {
      .row {
        display: flex;
        gap: 16px;
        .input-item {
          input {
            width: 100%;
          }
        }
      }
    }
  }
}
.mask {
  position: relative;
  display: flex;
  align-items: center;
  p {
    position: absolute;
    left: 15px;
    font-size: 14px;
  }
  input {
    padding-left: 55px !important;
  }
}
.expander-content {
  overflow: hidden;
}
.file-input {
  label.file-label {
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 14px;
    cursor: pointer;
    color: var(--netural-80, #4e4e4e);
    margin-top: 8px;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.53);
    text-align: center;

    p {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    i {
      margin: 0 auto;
    }
  }

  input {
    display: none;
  }
}
.file-input {
  label.file-label {
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 14px;
    cursor: pointer;
    color: var(--netural-80, #4e4e4e);
    margin-top: 8px;
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    text-align: center;

    p {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    i {
      margin: 0 auto;
    }
  }

  input {
    display: none;
  }
}
::ng-deep .p-select,
::ng-deep .p-multiselect {
  border-radius: 12px !important;
}

.inputs {
  @media (max-width: 769px) {
    width: 100%;
  }
  .heading {
    font-size: 14px;
    font-weight: 700;
    justify-content: flex-end;
    color: #90928d;
    cursor: pointer;
    z-index: 2;
    label {
      color: #90928d;
      z-index: 1;
      cursor: pointer;
    }
  }
}
.qualifs i {
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  justify-content: flex-end;
  color: #90928d;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.loading-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffffe0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  iframe {
    border: none;
    /* width: 500px; */
    height: 300px;
  }
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  //padding-top: 18px;
  .row {
    display: flex;
    gap: 16px;
    width: 100%;
    @media (max-width: 769px) {
      flex-direction: column;
    }
    .input-item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      flex: 1;
      @media (max-width: 769px) {
        width: 100%;
      }
      label {
        color: #90928d;
        font-size: 14px;
        font-weight: 500;
      }
      input {
        width: 100%;
        border-radius: 12px;
        color: var(--text-color) !important;
        font-weight: 600;
        font-size: 14px;
      }
      p {
        color: var(--text-color) !important;
        font-weight: 600;
        font-size: 14px;
      }
      .block {
        display: flex;
        align-items: center;
        position: relative;
        span {
          position: absolute;
          right: 15px;
          height: 16px;
          cursor: pointer;
          color: var(--text-color);
          display: flex;
        }
        input {
          padding-right: 35px;
        }
      }
    }
  }
}

button {
  background: var(--primary-color);
  border-radius: 12px !important;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
.heading {
  display: flex;
  gap: 7px;
  align-items: center;
  cursor: pointer;
}
.preview {
  width: 125px;
  height: 125px;
  border-radius: 100%;
  img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .file-label {
    width: 125px !important;
    border: none !important;
    i {
      margin: 0 !important;
      color: #5a4bea !important;
    }
    p {
      width: auto !important;
      font-size: 16px;
      font-weight: 600;
      color: #5a4bea !important;
    }
  }
  label.file-label {
    justify-content: center !important;
  }
}
.pass-form{
  margin-top: 30px;
  width: 500px;
  @media (max-width: 769px) {
    width: 100%;
  }
}
.loading-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffffe0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  iframe {
    border: none;
    /* width: 500px; */
    height: 300px;
  }
}
.courses-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 54px 0;
  width: 900px;
  max-width: 100%;
  @media (max-width: 769px) {
    padding: 24px 16px;
  }
  .counts {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 16px;
    flex-wrap: wrap;
    .item {
      flex: 1;
      background: var(--primary-color);
      border-radius: 12px;
      height: 107px;
      gap: 9px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 250px;
      label {
        font-weight: 400;
        font-size: 16px;
        color: #fff;
      }
      p {
        font-weight: 700;
        font-size: 18px;
        color: #fff;
      }
    }
  }
  .courses {
    .heading {
      display: flex;
      flex-direction: column;
      gap: 12px;
      h4 {
        font-weight: 700;
        font-size: 16px;
      }
      .search {
        display: flex;
        align-items: center;
        gap: 16px;
        p {
          font-weight: 500;
          font-size: 14px;
        }
        .search-block {
          position: relative;
          display: flex;
          align-items: center;
          i {
            color: #90928d;
            position: absolute;
            left: 10px;
            font-size: 13px;
          }
          input {
            color: #90928d !important;
            font-size: 14px;
            font-weight: 400;
            border: none;
            background: transparent !important;
            border-left: 1px solid #90928d;
            border-radius: 0 !important;
            height: 17px;
            padding-left: 30px;
            width: 400px;
            @media (max-width: 769px) {
              width: auto;
            }
          }
        }
      }
    }
    .items {
      margin-top: 30px;
      display: flex;
      //gap: 16px;
      flex-wrap: wrap;
      border-radius: 15px;
      border: 1px solid #e3e3e2;
      .item {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px 24px;
        gap: 16px;
        border-bottom: 1px solid #E3E3E2;
        &:last-child {
          border-bottom: none;
        }
        @media (max-width: 769px) {
          flex-direction: column;
          align-items: flex-start !important;
        }
        .image-name{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 16px;
        }
        .image {
          img {
            width: 93px;
            height: 58px;
            border-radius: 8px;
            object-fit: cover;
          }
        }
        .name {
          width: 280px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 7px;
          @media (max-width: 769px) {
            width: 100%;
          }
          p {
            color: var(--text-color);
            font-size: 15px;
            font-weight: 700;
          }
          .lecturer {
            color: #90928d;
            font-size: 14px;
            font-weight: 600;
          }
        }
        .info {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          width: calc(100% - 100px);
          align-items: center;
          @media (max-width: 769px) {
            width: 100%;
          }
          .lang {
            display: flex;
            min-width: 126px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 45px;
            background: rgba(246, 246, 246, 0.64);
            .img{
              display: flex;
              align-items: center;
              justify-content: center;
            }
            img {
              width: 21px;
              height: 21px;
              flex-shrink: 0;
              border-radius: 32px;
            }
            p {
              color: var(--text-color);
              font-size: 14px;
              font-weight: 600;
            }
          }
          button {
            width: 38px;
            height: 38px;
            padding: 0;
            background: var(--primary-color);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .statistics {
            display: flex;
            align-items: center;
            gap: 54px;

          }
          label {
            color: #90928d;
            font-size: 14px;
            font-weight: 600;
          }
          .st-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            .value {
              display: flex;
              align-items: center;
              gap: 6px;
              p {
                color: var(--text-color);
                font-size: 14px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
  .mobile{
    display: none !important;
    @media (max-width: 769px) {
      display: flex !important;
    }
  }
  @media (max-width: 769px) {
    .komp{
      display: none !important;
    }
  }
}

