<div class="header-wrapper">
  <a routerLink="/"  class="logo">
    <img src="text-logo.svg" alt="" />
  </a>
  <div class="lang-info">
    <nav>
      <ul>
        <li>
          <a href="#first" aria-label="home">{{ "Home" | translate }}</a>
        </li>
        <li>
          <a href="#fourth" aria-label="services">{{
            "Services" | translate
          }}</a>
        </li>
        <li>
          <a href="#fifth" aria-label="packages">{{
            "Packages" | translate
          }}</a>
        </li>
        <li>
          <a href="#sixth" aria-label="contact">{{
            "Contact Us" | translate
          }}</a>
        </li>
      </ul>
    </nav>
    <span class="link lang-s" (click)="langOpen = !langOpen">
      <span style="cursor: pointer">{{ selectedLang | translate }}</span>
      <i class="pi pi-angle-down"></i>
      <span class="dropdown-block" *ngIf="langOpen">
        <span class="items">
          <span class="link item" (click)="selectLang('en-Us')">{{
            "English" | translate
          }}</span>
          <span class="link item" (click)="selectLang('ka-Geo')">{{
            "Georgian" | translate
          }}</span>
          <span class="link item" (click)="selectLang('az-Aze')">{{
            "Azerbaijani" | translate
          }}</span>
          <span class="link item" (click)="selectLang('ru-Ru')">{{
            "Russian" | translate
          }}</span>
          <span class="link item" (click)="selectLang('tr-Tr')">{{
            "Turkish" | translate
          }}</span>
        </span>
      </span>
    </span>
    <div class="auth">
      <button class="signUp" [routerLink]="'/student-sign-up'">{{ 'Start For Free'  | translate}}</button>
      <button class="signIn" (click)="signin()">{{ 'Log in'  |translate}}</button>
    </div>
  </div>
</div>
<div class="back" *ngIf="langOpen" (click)="langOpen = false"></div>
<div class="mobile-header" id="mob">
  <div class="row">
    <a routerLink="/"  class="logo">
      <img src="text-logo.svg" alt="" />
    </a>
    <div class="menu-burger burger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <nav (@menuExpand.done)="onAnimationDone()"
       [ngClass]="{ hidden: isHidden }"  [@menuExpand]="showMenu ? 'open' : 'closed'">
    <div class="nav-links">
      <div class="nav">
        <ul>
          <li>
            <a href="#first" aria-label="home" (click)="closeBurger()">{{
              "Home" | translate
            }}</a>
          </li>
          <li>
            <a href="#fourth" aria-label="services" (click)="closeBurger()">{{
              "Services" | translate
            }}</a>
          </li>
          <li>
            <a href="#fifth" aria-label="packages" (click)="closeBurger()">{{
              "Packages" | translate
            }}</a>
          </li>
          <li>
            <a href="#sixth" aria-label="contact" (click)="closeBurger()">{{
              "Contact Us" | translate
            }}</a>
          </li>
        </ul>
      </div>
      <div class="lang-info">
        <span class="link lang-s" (click)="langOpen = !langOpen">
          <span style="cursor: pointer">{{ selectedLang | translate }}</span>
          <i class="pi pi-angle-down"></i>
          <span class="dropdown-block" *ngIf="langOpen">
            <span class="items">
              <span
                class="link item"
                (click)="closeBurger(); selectLang('en-Us')"
                >{{ "English" | translate }}</span
              >
              <span
                class="link item"
                (click)="closeBurger(); selectLang('ka-Geo')"
                >{{ "Georgian" | translate }}</span
              >
              <span
                class="link item"
                (click)="closeBurger(); selectLang('az-Aze')"
                >{{ "Azerbaijani" | translate }}</span
              >
              <span
                class="link item"
                (click)="closeBurger(); selectLang('ru-Ru')"
                >{{ "Russian" | translate }}</span
              >
              <span
                class="link item"
                (click)="closeBurger(); selectLang('tr-Tr')"
                >{{ "Turkish" | translate }}</span
              >
            </span>
          </span>
        </span>
      </div>
    </div>
    <div class="auth">
      <button class="signUp" [routerLink]="'/student-sign-up'">{{ 'Sign up'  | translate}}</button>
      <button class="signIn" [routerLink]="'/auth'">{{ 'Log in'  |translate}}</button>
    </div>
  </nav>
</div>
