.notif-block {
  //border-radius: 12px;
  //border: 1px solid var(--Border, #e4e4e4);
  //background: var(--Surface-Secondary, #fff);
  //width: 50px;
  //height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .count {
      display: inline-flex;
      padding: 2px 6px 3px 6px;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      background: var(--primary-color);
      position: absolute;
      top: -11px;
      right: -10px;
      p {
        color: var(--Surface-Secondary, #fff);
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}
::ng-deep {
  .p-drawer-right {
    border: none !important;
    padding: 20px;
    background: transparent !important;
    box-shadow: none !important;
    width: 440px !important;
  }
  .p-drawer-header {
    display: none !important;
  }
  .p-overlay-mask-enter {
    background: rgba(0, 0, 0, 0.6) !important;
    backdrop-filter: blur(2px) !important;
  }
  .p-drawer-bottom {
    background: rgba(0, 0, 0, 0.9) !important;
    border: none !important;
    height: 500px !important;
  }
  .p-drawer-content {
    padding: 0 !important;
    overflow: hidden !important;
  }
  .drawer-content {
    //position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border-right: 0.5px solid var(--Border, #e4e4e4);
    background: var(--Surface-Secondary, #fff);
    .heading {
      border-bottom: 1px solid #e4e4e4;
      padding: 16px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      .name-close {
        display: flex;
        align-items: center;
        gap: 12px;
        .close {
          width: 28px;
          height: 28px;
          border-radius: 100%;
          border: 1px solid #e8eaec;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          i {
            font-size: 13px;
          }
        }
        p {
          color: var(--Text-primary, #000);
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
      .mark {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        p {
          color: #EF3838;
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    .tab-heading {
      padding: 16px 16px 12px;
      background: #fff;
      .tabs {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 8px;
        border-radius: 12px;
        border: 0.5px solid var(--Border, #e4e4e4);
        .item {
          display: flex;
          padding: 4px;
          //flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 4px;
          flex: 1 0 0;
          border-radius: 8px;
          cursor: pointer;
          height: 32px;

          p {
            color: var(--Text-secondary, #60616c);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          &.selected {
            background: var(--Surface-Primary, #f5f7f9);
            p {
              color: var(--Text-primary, #000);
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }

          .count {
            display: flex;
            width: 24px;
            padding: 4px 8px 5px 8px;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            background: var(--primary-color);
            span {
              color: var(--Surface-Secondary, #fff);
              font-family: Inter;
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }
        }
      }
    }
    .tab-content {
      .items {
        display: flex;
        flex-direction: column;
        height: calc(95svh - 139px);
        overflow: auto;
        /* padding-top: 30px; */
        border-radius: 0 0 16px 16px;
        .item {
          display: flex;
          padding: 16px;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          align-self: stretch;
          border-bottom: 1px solid var(--Border, #e4e4e4);
          cursor: pointer;
          &:last-child {
            border-bottom: none;
          }
          &.unread {
            background: var(--Surface-Primary, #f5f7f9);
          }
          .date-dot {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .date {
              color: var(--Text-secondary, #60616c);
              font-family: Inter;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            .dot {
              min-width: 12px;
              height: 12px;
              border-radius: 8px;
              background: #EF3838;
            }
          }
          .txt {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;
            h5 {
              color: #13170C;
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              margin: 0;
            }
            p {
              color: #90928D;
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }
        }
      }
      .empty{
        padding: 160px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap:32px;

        .txt{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
          align-self: stretch;
          p{
            color: var(--Text-primary, #000);
            text-align: center;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
          span{
            color: var(--Text-secondary, #60616C);
            text-align: center;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }
}
