.tab-content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .heading {
      display: flex;
      align-items: center;
      gap: 14px;
      cursor: pointer;
      p {
        font-size: 20px;
        font-weight: 700;
      }
    }
    .sub-topics {
      display: flex;
      flex-direction: column;
      gap: 14px;
      .sub-item {
        border: 1px solid #e3e3e2;
        border-radius: 6px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        .sub-heading {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            font-size: 16px;
            font-weight: 500;
          }
        }
        label {
          height: 100%;
          width: 100%;
          cursor: pointer;
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          color: var(--primary-color);
        }
      }
      .add-subtopic {
        input {
          width: 100%;
          color: #90928d;
          background: transparent !important;
          border: none;
          font-size: 16px;
          font-weight: 600;
          padding: 0 !important;
          text-align: center;
          height: 21px;
        }
      }
    }
  }
  .create-topic {
    input {
      width: 100%;
      color: #90928d;
      background: transparent !important;
      border: none;
      font-size: 20px;
      font-weight: 600;
      padding: 0 !important;
    }
  }
}


.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .item {
    display: flex;
    align-items: center;
    width: 100px;
    height: 32px;
    border-radius: 8px;
    gap: 15px;
    cursor: pointer;
    .icon {
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    p,
    i {
      font-weight: 500;
      font-size: 14px;
      color: #90928d;
    }
    &.delete {
      p {
        color: #ef3838;
      }
    }
  }
}
::ng-deep .p-popover-content {
  padding: 12px 15px;
}
button {
  padding: 0;
  height: auto;
}
.btns {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.inp {
  width: 100%;
  input {
    width: 100% !important;
  }
}
::ng-deep {
  .p-panel.p-panel-toggleable .p-panel-header,
  .p-panel .p-panel-content,
  .p-dialog .p-dialog-header,
  .p-dialog .p-dialog-content {
    background: transparent !important;
  }
}
.menu-btn {
  width: 20px;
}
::ng-deep {
  .p-dialog .p-dialog-header,
  .p-dialog .p-dialog-content {
    background: transparent !important;
  }
  .confirm-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    i {
      font-size: 60px;
      color: orange;
    }
    p {
      width: 70%;
      text-align: center;
      color: orange;
      margin-bottom: 21px !important;
    }
  }
  .p-dialog-footer {
    .p-button {
      padding: 0px 20px !important;
      height: 40px;
      background: #f6f6f6 !important;
      border: none !important;
      color: #656668 !important;
      &.p-confirmdialog-accept-button {
        background: var(--primary-color) !important;
        border: none !important;
        color: #fff !important;
      }
    }
  }
}
.mat-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid #e3e3e2;
  a {
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: #5a4bea;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 60%;
  }
}
.add-mat{
  button{
    width: 183px;
    height: 41px;
    border-radius: 6px;
    background: #C6E7FF;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
    margin-top: 24px;
  }
}
