footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  box-shadow: 1px 6px 70.9px -16px rgba(0, 0, 0, 0.1);

  .bottom {
    width: 100%;
    height: 310px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 33px;
    justify-content: space-between;
    align-items: center;
    background: #009245;
    position: relative;
    padding-bottom: 30px;
    @media (max-width: 769px) {
      height: auto;
      padding: 20px 20px 30px;
      gap: 24px;
    }
    .row2 {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 50px;
      @media (max-width: 769px) {
        flex-direction: column;
        padding: 0px;
        gap: 40px;
      }
      .left {
        display: flex;
        align-items: center;

        gap: 20px;
        @media (max-width: 769px) {
          justify-content: center;
        }
        .logo {
          width: 76px;
          height: 76px;
          @media (max-width: 769px) {
            width: 65px;
            height: 65px;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
        .name {
          p {
            color: #fff;
            font-size: 30px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            @media (max-width: 769px) {
              font-size: 40px;
            }
          }
        }
      }

      nav {
        display: flex;
        ul {
          display: inline-flex;
          align-items: center;
          gap: 32px;
          padding: 0px;
          margin: 0;
          @media (max-width: 769px) {
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
          }
          li {
            list-style: none;
            a {
              color: #fff;
              font-size: 15px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-decoration: none;
            }
          }
        }
      }
    }

    .copy {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 50px;
      @media (max-width: 769px) {
        flex-direction: column-reverse;
        padding: 0;
        gap: 10px;
      }
      .links {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      p,
      a,
      span {
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        text-decoration: none;
        @media (max-width: 769px) {
          font-size: 15px;
        }
      }
    }
  }
}
