<footer>
  <div class="bottom">
    <div class="row2">
      <div class="left">
        <div class="logo">
          <img src="logo.svg" alt="" />
        </div>
        <div class="name">
          <p>Owlee</p>
        </div>
      </div>
      <div class="right">
        <nav>
          <ul>
            <li>
              <a href="#first" aria-label="home">{{
                  "Home" | translate
                }}</a>
            </li>
            <li>
              <a href="#fourth" aria-label="services">{{
                  "Services" | translate
                }}</a>
            </li>
            <li>
              <a href="#fifth" aria-label="packages">{{
                  "Packages" | translate
                }}</a>
            </li>
            <li>
              <a href="#sixth" aria-label="contact">{{
                  "Contact Us" | translate
                }}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="copy">
      <div class="links">
        <!--            <p>-->
        <!--              2025 © All Rights Reserved-->
        <!--            </p>-->
        <a
          style="text-decoration: underline"
          href="https://butterflyeffect.ge"
          target="_blank"
        >Crafted by ButterflyEffect</a
        >
      </div>
      <div class="terms">
        <a routerLink="/terms-conditions">Terms and Conditions</a
        ><span> / </span>
        <a routerLink="/privacy">Privacy policy</a>
      </div>
    </div>
  </div>
</footer>
