<footer>
  <div class="bottom">
    <div class="row2">
      <div class="left">
        <div class="logo">
          <img src="logo.svg" alt="" />
        </div>
        <div class="name">
          <p>Owlee</p>
        </div>
      </div>
      <div class="right">
        <nav>
          <ul>
            <li>
              <a routerLink="/about" routerLinkActive="active" aria-label="about">{{
                  "About us" | translate
                }}</a>
            </li>
            <li>
              <a
                routerLink="/courses"
                routerLinkActive="active"
                aria-label="courses"
              >{{ "Courses" | translate }}</a
              >
            </li>
            <li>
              <a
                style="cursor: pointer"
                (click)="navigateAndScroll('fifth')"
                aria-label="faq"
              >{{ "FAQ" | translate }}</a
              >
            </li>
            <li>
              <a
                style="cursor: pointer"
                (click)="navigateAndScroll('sixth')"
                aria-label="contact"
              >{{ "Contact Us" | translate }}</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="copy">
      <div class="links">
        <!--            <p>-->
        <!--              2025 © All Rights Reserved-->
        <!--            </p>-->
        <a
          style="text-decoration: underline"
          href="https://butterflyeffect.ge"
          target="_blank"
        >Crafted by ButterflyEffect</a
        >
      </div>
      <div class="terms">
        <a routerLink="/terms-conditions">Terms and Conditions</a
        ><span> / </span>
        <a routerLink="/privacy">Privacy policy</a>
      </div>
    </div>
  </div>
</footer>
