<div class="home-wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="header">
    <app-home-header></app-home-header>
  </div>
  <div class="home-content">
    <section id="first">
      <div class="heading">
        <p>{{ "Learn. Grow. Succeed." | translate }}</p>
        <h1>{{ "Make your course more valuable!" | translate }}</h1>
        <button routerLink="student-sign-up">
          {{ "Sign up" | translate }}
          <i class="pi pi-arrow-right"></i>
        </button>
      </div>
      <div class="image">
        <img
          src="https://metagroupblob.blob.core.windows.net/delivery-container/b1af2c6b-4fa3-4d9b-adcf-ded47943b138-Group%204%20%281%29.png"
          alt=""
        />
      </div>
    </section>
    <section id="second">
      <div class="container">
        <div class="image-container comp">
          <div class="left">
            <p class="text-block">
              {{
                "Owlee simplifies teaching processes, enabling educators to efficiently manage classes and materials"
                  | translate
              }}
            </p>
            <div class="imgs">
              <img
                src="https://owleeblob.blob.core.windows.net/images/5dc084c1-e042-4624-b2d6-e182930c60e0-1%20%281%29.jpg"
                alt="Teaching Image 1"
              />
              <img
                style="aspect-ratio: 2 / 2.04"
                src="https://owleeblob.blob.core.windows.net/images/af9b76d8-d494-492f-99e9-18f45e2e2c4a-2%20%281%29.jpg"
                alt="Teaching Image 2"
              />
              <!--              <img src="https://metagroupblob.blob.core.windows.net/delivery-container/a23b6d08-872e-4974-af28-3a02abc7edd7-image%20%281%29.png" alt="">-->
            </div>
          </div>
          <div class="right">
            <img
              src="https://owleeblob.blob.core.windows.net/images/d004d01e-895a-4e38-b2cf-e5540aa61682-3%20%281%29.jpg"
              alt="Teaching Image 3"
            />
          </div>
        </div>
        <div class="image-container mobile">
          <div class="txt">
            <p class="text-block">
              {{
                "Owlee simplifies teaching processes, enabling educators to efficiently manage classes and materials"
                  | translate
              }}
            </p>
          </div>
          <div class="imgs">
            <img
              src="https://owleeblob.blob.core.windows.net/images/5dc084c1-e042-4624-b2d6-e182930c60e0-1%20%281%29.jpg"
              alt="Teaching Image 1"
            />
            <img
              src="https://owleeblob.blob.core.windows.net/images/af9b76d8-d494-492f-99e9-18f45e2e2c4a-2%20%281%29.jpg"
              alt="Teaching Image 2"
            />
            <img
              src="https://owleeblob.blob.core.windows.net/images/d004d01e-895a-4e38-b2cf-e5540aa61682-3%20%281%29.jpg"
              alt="Teaching Image 3"
            />
          </div>
        </div>
        <button class="join" routerLink="auth">
          {{ "Join us" | translate }}
        </button>
      </div>
    </section>
    <section id="third">
      <div class="txt">
        <p>
          {{
            "Owlee is a user - friendly Learning Management System(LMS) designed specifically for independent educators, tutors, and small training businesses.It provides an all - in - one platform to simplify course management, enhance student engagement.With Owlee, educators can efficiently manage their courses anytime, anywhere through a responsive mobile interface, ensuring seamless access to lesson planning, student tracking, and material distribution. By automating administrative tasks, Owlee helps educators save valuable time and resources, allowing them to focus more on delivering high - quality learning experiences."
              | translate
          }}
        </p>
      </div>
      <div class="counts">
        <div class="items">
          <div class="item">
            <div class="image">
              <img
                src="https://metagroupblob.blob.core.windows.net/delivery-container/2689f309-a7ed-4dca-aca3-d5039fb292ee-image%2029%20%282%29.png"
                alt=""
              />
            </div>
            <div class="info">
              <p>300+</p>
              <label>{{ "Students" | translate }}</label>
            </div>
          </div>
          <div class="item">
            <div class="image">
              <img
                src="https://metagroupblob.blob.core.windows.net/delivery-container/9d6a1647-b6a4-4c83-b125-36f6eb8534c0-image%2030.png"
                alt=""
              />
            </div>
            <div class="info">
              <p>40+</p>
              <label>{{ "Courses" | translate }}</label>
            </div>
          </div>
          <div class="item">
            <div class="image">
              <img
                src="https://metagroupblob.blob.core.windows.net/delivery-container/0a954f4d-39ef-4207-8e92-11cd6a8d9548-image%2031.png"
                alt=""
              />
            </div>
            <div class="info">
              <p>35+</p>
              <label>{{ "Teachers" | translate }}</label>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--    <section id="fourth">-->
    <!--      <div class="heading">-->
    <!--        <h2>{{ "Services" | translate }}</h2>-->
    <!--        <p>-->
    <!--          {{-->
    <!--            "Enhancing the overall learning experience for both educators and students."-->
    <!--              | translate-->
    <!--          }}-->
    <!--        </p>-->
    <!--      </div>-->
    <!--      <div class="items">-->
    <!--        <div class="item r">-->
    <!--          <div class="txt">-->
    <!--            <h4>-->
    <!--              {{ "Lecture Scheduling & Calendar Integration" | translate }}-->
    <!--            </h4>-->
    <!--            <p>-->
    <!--              {{-->
    <!--                "Plan and organize lessons with an intuitive scheduling system, ensuring students stay updated with class timings."-->
    <!--                  | translate-->
    <!--              }}-->
    <!--            </p>-->
    <!--          </div>-->
    <!--          <div class="image">-->
    <!--            <img-->
    <!--              src="https://owleeblob.blob.core.windows.net/images/75f2a411-2d3f-47fc-8af1-e429e264ea4a-Lecture%20Scheduling%20%26%20Calendar%20Integration%20%281%29.jpg"-->
    <!--              alt=""-->
    <!--            />-->
    <!--          </div>-->
    <!--          <button class="join" routerLink="auth">-->
    <!--            {{ "Join us" | translate }}-->
    <!--          </button>-->
    <!--        </div>-->
    <!--        <div class="item l">-->
    <!--          <div class="txt">-->
    <!--            <h4>{{ "Student Management" | translate }}</h4>-->
    <!--            <p>-->
    <!--              {{-->
    <!--                "Managing the teaching process has never been easier. On the Owlee platform, you can create a digital space for all your groups and share learning materials, class meetings, and manage communication with students."-->
    <!--                  | translate-->
    <!--              }}-->
    <!--            </p>-->
    <!--          </div>-->
    <!--          <div class="image">-->
    <!--            <img-->
    <!--              src="https://owleeblob.blob.core.windows.net/images/8ac8afd7-c618-4936-9346-9537b5f82d94-Student%20Management%20%281%29.jpg"-->
    <!--              alt=""-->
    <!--            />-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="item r">-->
    <!--          <div class="txt">-->
    <!--            <h4>{{ "Material Management" | translate }}</h4>-->
    <!--            <p>-->
    <!--              {{-->
    <!--                "Upload, organize, and distribute learning resources, including PDFs, videos, and interactive content."-->
    <!--                  | translate-->
    <!--              }}-->
    <!--            </p>-->
    <!--          </div>-->
    <!--          <div class="image">-->
    <!--            <img-->
    <!--              src="https://owleeblob.blob.core.windows.net/images/b711233c-1464-4359-b95c-365a6f07329a-Material%20Management%20%281%29.jpg"-->
    <!--              alt=""-->
    <!--            />-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </section>-->
    <!--    <section id="fifth">-->
    <!--      <div class="heading">-->
    <!--        <h2>{{ "Start your free trial!" | translate }}</h2>-->
    <!--        <p>-->
    <!--          {{-->
    <!--            "Select from best plans, ensuring a perfect match. Need more or less? Customize your subscription for a seamless fit!"-->
    <!--              | translate-->
    <!--          }}-->
    <!--        </p>-->
    <!--      </div>-->
    <!--      <div class="switcher">-->
    <!--        <div-->
    <!--          class="item"-->
    <!--          (click)="selectedPackageType = 1"-->
    <!--          [ngClass]="{ selected: selectedPackageType === 1 }"-->
    <!--        >-->
    <!--          <p>{{ "Monthly" | translate }}</p>-->
    <!--        </div>-->
    <!--        <div-->
    <!--          class="item"-->
    <!--          (click)="selectedPackageType = 2"-->
    <!--          [ngClass]="{ selected: selectedPackageType === 2 }"-->
    <!--        >-->
    <!--          <p>{{ "Annually" | translate }}</p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div class="items">-->
    <!--        <div class="item" *ngFor="let item of subscriptionPackages">-->
    <!--          <div class="pop">-->
    <!--            <p>{{ "Most popular" | translate }}</p>-->
    <!--          </div>-->
    <!--          <div class="name">-->
    <!--            <p>{{ item.name }}</p>-->
    <!--          </div>-->
    <!--          <div class="descr">-->
    <!--            <p>-->
    <!--              {{ "Recommended for those who’ve got" | translate }}-->
    <!--              {{ item.maxCapacity }} {{ "students" | translate }}.-->
    <!--            </p>-->
    <!--          </div>-->
    <!--          <div class="price">-->
    <!--            <p>-->
    <!--              <span-->
    <!--                >{{-->
    <!--                  selectedPackageType === 1 ? item.price : item.annualPrice-->
    <!--                }}₾</span-->
    <!--              >-->
    <!--              / {{ "month" | translate }}-->
    <!--            </p>-->
    <!--          </div>-->
    <!--          <div class="features">-->
    <!--            <div class="f-item">-->
    <!--              <img src="d-check.svg" alt="" />-->
    <!--              <p>{{ item.courseAmount }} {{ "Courses" | translate }}</p>-->
    <!--            </div>-->
    <!--            <div class="f-item">-->
    <!--              <img src="d-check.svg" alt="" />-->
    <!--              <p>-->
    <!--                {{ item.groupPerCourse }} {{ "Groups per course" | translate }}-->
    <!--              </p>-->
    <!--            </div>-->
    <!--            <div class="f-item">-->
    <!--              <img src="d-check.svg" alt="" />-->
    <!--              <p>-->
    <!--                {{ item.peoplePerGroup }} {{ "Students per group" | translate }}-->
    <!--              </p>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--          <div class="btn">-->
    <!--            <button routerLink="student-sign-up">-->
    <!--              {{ "Get started" | translate }}-->
    <!--            </button>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </section>-->
    <section id="fifth">
      <div class="heading">
        <h2>{{ "Frequently asked questions" | translate }}</h2>
        <p>
          {{ "Fill in the form to get your answer" | translate }}
        </p>
      </div>
      <div class="switcher">
        <div
          class="item"
          (click)="selectedFAQsTab = 1"
          [ngClass]="{ selected: selectedFAQsTab === 1 }"
        >
          <p>{{ "Students" | translate }}</p>
        </div>
        <div
          class="item"
          (click)="selectedFAQsTab = 2"
          [ngClass]="{ selected: selectedFAQsTab === 2 }"
        >
          <p>{{ "Educators" | translate }}</p>
        </div>
      </div>
      <div class="body" style="max-width: 900px;width: 100%;" *ngIf="selectedFAQsTab === 1">
        <div class="card flex justify-center">
          <p-accordion value="0">
            <p-accordion-panel
              [value]="item.id"
              *ngFor="let item of studentsFAQs"
            >
              <p-accordion-header>{{ item.title }}</p-accordion-header>
              <p-accordion-content>
                <p class="m-0">
                  {{ item.body }}
                </p>
              </p-accordion-content>
            </p-accordion-panel>
          </p-accordion>
        </div>
      </div>
      <div class="body" style="max-width: 900px;width: 100%;" *ngIf="selectedFAQsTab === 2">
        <div class="card flex justify-center">
          <p-accordion value="0">
            <p-accordion-panel
              [value]="item.id"
              *ngFor="let item of educatorsFAQs"
            >
              <p-accordion-header>{{ item.title }}</p-accordion-header>
              <p-accordion-content>
                <p class="m-0">
                  {{ item.body }}
                </p>
              </p-accordion-content>
            </p-accordion-panel>
          </p-accordion>
        </div>
      </div>
    </section>
    <section id="sixth">
      <div class="heading">
        <h2>{{ "Got a question?" | translate }}</h2>
        <p>{{ "Fill in the form to get your answer" | translate }}</p>
      </div>
      <div class="links">
        <div class="items">
          <a
            target="_blank"
            href="https://www.facebook.com/profile.php?id=61574211568659&rdid=adyzhEGwNf0QZKfA&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F18yN3FNFD5%2F#"
            class="item"
          >
            <img src="f.svg" alt="" />
          </a>
          <a
            target="_blank"
            href="https://www.youtube.com/@owlee.edtech"
            class="item"
          >
            <img src="y.svg" alt="https://www.youtube.com/@owlee.edtech" />
          </a>
          <a
            target="_blank"
            href="https://www.linkedin.com/company/owlee-edtech/"
            class="item"
          >
            <img src="l.svg" alt="" />
          </a>
          <a
            target="_blank"
            href="https://www.tiktok.com/@owlee.edtech?_t=ZS-8ujYRIpMhM7&_r=1"
            class="item"
          >
            <img src="t.svg" alt="" />
          </a>
          <a
            target="_blank"
            href="https://www.instagram.com/owlee.edtech/#"
            class="item"
          >
            <img src="i.svg" alt="" />
          </a>
        </div>
        <div
          class="mail"
          style="
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 10px;
          "
        >
          <a href="mailto:info@owlee.tech">info&#64;owlee.tech</a>
          <a href="tel:+995575754095">+995575754095</a>
        </div>
      </div>
      <div class="form">
        <div class="image">
          <img
            src="https://metagroupblob.blob.core.windows.net/delivery-container/889ea6a8-f419-456d-805b-523bc3c7581b-image%2033.png"
            alt=""
          />
        </div>
        <form [formGroup]="form">
          <div class="input-item">
            <label for="name">{{ "Full name" | translate }}</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              [class.invalid]="!form.get('name')?.value && isSubmitted"
            />
          </div>
          <div class="input-item">
            <label for="email">{{ "Email" | translate }}</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              [class.invalid]="
                form.get('email')?.hasError('pattern') ||
                (!form.get('email')?.value && isSubmitted) ||
                form.get('email')?.hasError('incorrect')
              "
            />
          </div>
          <div class="input-item">
            <label for="message">{{ "Message" | translate }}</label>
            <textarea
              type="text"
              id="message"
              formControlName="message"
              [class.invalid]="!form.get('message')?.value && isSubmitted"
            ></textarea>
          </div>
          <div class="btn">
            <button (click)="send()">{{ "Send" | translate }}</button>
          </div>
        </form>
      </div>
    </section>
    <section id="seventh">
      <div class="heading">
        <h2>{{ "Who we are?" | translate }}</h2>
        <p>
          {{
            "Great things happen when people with passion and purpose come together."
              | translate
          }}
        </p>
      </div>
      <div class="items">
        <div class="item">
          <div class="image">
            <img
              src="https://owleeblob.blob.core.windows.net/images/62dc8005-b6ff-4059-b849-b07b835f4971-1.%20Iusip%20Nasibov%20%20%281%29.webp"
              alt=""
            />
          </div>
          <div class="txt">
            <a href="https://www.linkedin.com/in/nasibov-yusif" target="_blank"
              >Iusip Nasibov</a
            >
            <p>CEO</p>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img
              src="https://owleeblob.blob.core.windows.net/images/de208f1c-2826-4a12-90ed-9a8bd8755fa5-2.%20Pharid%20Asker%20%20%281%29.webp"
              alt=""
            />
          </div>
          <div class="txt">
            <a href="https://www.linkedin.com/in/pharid-askerov" target="_blank"
              >Pharid Asker</a
            >
            <p>COO</p>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img
              src="https://owleeblob.blob.core.windows.net/images/10379321-a221-4e19-85c8-8f7e7c893262-Aitaj%20Khalilli%20%281%29.webp"
              alt=""
            />
          </div>
          <div class="txt">
            <a
              href="https://www.linkedin.com/in/aitaj-khalilli-803a86254/"
              target="_blank"
              >Aitaj Khalilli</a
            >
            <p>CXO</p>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img
              src="https://owleeblob.blob.core.windows.net/images/62023148-e4dd-4557-9f20-07816635e4ff-Omar%20Ibragimovi%20%281%29.webp"
              alt=""
            />
          </div>
          <div class="txt">
            <a>Omar Ibragimovi</a>
            <p>CMO</p>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img
              src="https://owleeblob.blob.core.windows.net/images/91aef2ab-a4a1-4666-91d3-7a18a34aa2b0-5.%20Aslan%20Gurbanov%20CTO%20%281%29.webp"
              alt=""
            />
          </div>
          <div class="txt">
            <a
              href="https://www.linkedin.com/in/aslan-gurbanov-0a17a312a/"
              target="_blank"
              >Aslan Gurbanov</a
            >
            <p>CTO</p>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <!--            <img-->
            <!--              src="https://owleeblob.blob.core.windows.net/images/91aef2ab-a4a1-4666-91d3-7a18a34aa2b0-5.%20Aslan%20Gurbanov%20CTO%20%281%29.webp"-->
            <!--              alt=""-->
            <!--            />-->
          </div>
          <div class="txt">
            <a
              href="https://www.linkedin.com/in/nigar-rustamova-aba229272/"
              target="_blank"
              >Nigar Rustamova</a
            >
            <p>SMM</p>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <!--            <img-->
            <!--              src="https://owleeblob.blob.core.windows.net/images/91aef2ab-a4a1-4666-91d3-7a18a34aa2b0-5.%20Aslan%20Gurbanov%20CTO%20%281%29.webp"-->
            <!--              alt=""-->
            <!--            />-->
          </div>
          <div class="txt">
            <a
              href="https://www.linkedin.com/in/sabina-kazimovi-2baa76205/"
              target="_blank"
              >Sabina Kazimovi</a
            >
            <p>Academic Director</p>
          </div>
        </div>
        <div class="item">
          <!--          <div class="image">-->
          <!--            <img-->
          <!--              src="https://owleeblob.blob.core.windows.net/images/91aef2ab-a4a1-4666-91d3-7a18a34aa2b0-5.%20Aslan%20Gurbanov%20CTO%20%281%29.webp"-->
          <!--              alt=""-->
          <!--            />-->
          <!--          </div>-->
          <div class="txt">
            <a>Ayhan Hasanli</a>
            <p>Legal Adviser</p>
          </div>
        </div>
      </div>
    </section>
    <section id="eighth">
      <div class="heading">
        <h2>{{ "Partners" | translate }}</h2>
        <p>
          {{
            "All great partnerships are built on trust, respect, and the willingness to grow together."
              | translate
          }}
        </p>
      </div>
      <div class="items">
        <div class="item">
          <div class="image">
            <img src="partner-logos/gita.png" alt="" />
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img
              style="height: 90px"
              src="partner-logos/butterfly.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="bottom">
        <div class="row2">
          <div class="left">
            <div class="logo">
              <img src="logo.svg" alt="" />
            </div>
            <div class="name">
              <p>Owlee</p>
            </div>
          </div>
          <div class="right">
            <nav>
              <ul>
                <li>
                  <a href="#first" aria-label="home">{{
                    "Home" | translate
                  }}</a>
                </li>
                <li>
                  <a href="#fourth" aria-label="services">{{
                    "Services" | translate
                  }}</a>
                </li>
                <li>
                  <a href="#fifth" aria-label="packages">{{
                    "Packages" | translate
                  }}</a>
                </li>
                <li>
                  <a href="#sixth" aria-label="contact">{{
                    "Contact Us" | translate
                  }}</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="copy">
          <div class="links">
            <!--            <p>-->
            <!--              2025 © All Rights Reserved-->
            <!--            </p>-->
            <a
              style="text-decoration: underline"
              href="https://butterflyeffect.ge"
              target="_blank"
              >Crafted by ButterflyEffect</a
            >
          </div>
          <div class="terms">
            <a routerLink="/terms-conditions">Terms and Conditions</a
            ><span> / </span>
            <a routerLink="/privacy">Privacy policy</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
