.wrapper {
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .tabs {
      display: flex;
      align-items: center;
      gap: 17px;
      .item {
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding: 10px 0;
        border-bottom: 1px solid transparent;
        cursor: pointer;
        text-decoration: none;
        p {
          color: #90928d;
          font-size: 14px;
          font-weight: 500;
        }
        &.selected {
          border-bottom: 1px solid black;
          p {
            color: var(--text-color);
          }
        }
      }
    }

  }
}
