::ng-deep {
  .p-dialog-header {
    display: none !important;
  }
  .p-dialog-content,
  .p-dialog .p-dialog-content:last-of-type {
    padding: 32px 24px !important;
  }
}
.wrapper {
  display: flex
;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    h2 {
      color: #0A0A0A;
      text-align: center;
      font-family: Inter;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px; /* 120% */
      letter-spacing: 0.396px;
    }
    h3 {
      color: #4A5565;
      text-align: center;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 155.556% */
      letter-spacing: -0.439px;
    }
  }

  .counts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    .item {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  .items {
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    gap: 25px;
    width: 100%;
    margin-top: 50px;
    @media (max-width: 769px) {
      flex-direction: column;
      width: 100%;
    }
    .item {
      display: flex;
      max-width: 329px;
      flex: 1;
      padding: 24px;
      flex-direction: column;
      align-items: center;
      position: relative;
      //gap: 20px;
      border-radius: 12px;
      border: 1px solid #e3e3e2;
      background: #fff;
      box-shadow: 1px 6px 70.9px -16px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      @media (max-width: 769px) {
        width: 100%;
        max-width: 100%;
      }
      .is-current{
        display: inline-flex;
        padding: 2.996px 16.059px 1.496px 15.996px;
        justify-content: center;
        align-items: center;
        border-radius: 25165800px;
        background: #009245;
        position: absolute;
        top:-12px;
        p{
          color: #FFF;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px; /* 142.857% */
          letter-spacing: -0.15px;
        }
      }
      .name {
        width: 100%;
        text-align: center;
        p {
          color: #101828;
          text-align: center;
          font-family: Inter;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px; /* 133.333% */
          letter-spacing: 0.07px;
        }
      }
      .descr {
        margin-top: 8px;
        width: 100%;
        text-align: center;
        p {
          color: #4A5565;
          text-align: center;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 142.857% */
          letter-spacing: -0.15px;
        }
      }
      .price {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        span{
          color: #4A5565;
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          letter-spacing: -0.312px;
        }
        p{
          color: #101828;
          text-align: center;
          font-family: Inter;
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: 40px; /* 111.111% */
          letter-spacing: 0.369px;
          span{
            color: #4A5565;
            text-align: center;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: -0.312px;
          }
        }

      }
      .features {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 8.4px;
        margin-top: 25px;
        label{
          margin-bottom: 6px;
          color: #101828;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px; /* 142.857% */
          letter-spacing: 0.2px;
          text-transform: uppercase;
        }
        .f-item {
          display: flex;
          align-items: center;
          gap: 12px;
          align-self: stretch;
          p {
            color: #364153;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
            letter-spacing: -0.15px;
          }
        }
      }


      &.selectedItem {
        border-radius: 14px;
        border: 1.875px solid #009245;
        background: rgba(255, 255, 255, 0.00);
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);

      }
    }
  }
  .switcher {
    display: inline-flex;
    border-radius: 16px;
    border: 0.75px solid #E5E7EB;
    background: #FFF;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
    height: 61px;
    padding: 9px;
    gap:4px;
    .item {
      border: none;
      border-radius: 14px;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.3s ease;
      width: auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12.5px 31.813px;
      p {
        color: #4A5565;
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 142.857% */
        letter-spacing: -0.15px;
      }
      &.selected {
        background: #3B3199;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.10), 0 2px 4px -2px rgba(0, 0, 0, 0.10);
        p {
          color: #fff;
        }
      }
    }
  }
  .btns{
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;

    button{
      width:100%;
      max-width: 900px;
      height: 60px;
      border-radius: 14px;
      background: #F6F6F6;
      color: #656668;
      font-size: 14px;
      font-weight: 600;
      @media (max-width: 400px) {
        width: auto;
        flex: 1;
      }
      &.save{
        background: #3B3199;
        color: #FFF;
      }
    }
  }
  .privacy{
    margin-top:50px;
    .input-block{
      gap: 6px;
      display: flex;
      height: 66.973px;
      padding: 0 21.492px;
      /* flex-direction: column; */
      align-items: flex-start;
      align-self: stretch;
      border-radius: 14px;
      border: 1.5px solid #009245;
      background: #F0FDF4;
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
      label{
        color: #3B3199;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: -0.312px;
      }
      input{
        margin: 0;
      }
    }
  }
}
::ng-deep{

}
label.invalidLabel{
  a{
    color: red !important;
  }
}
