::ng-deep {
  .p-dialog-header {
    display: none !important;
  }
  .p-dialog-content,
  .p-dialog .p-dialog-content:last-of-type {
    padding: 32px 24px !important;
  }
}
.wrapper {
  display: flex
;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    h2 {
      color: #13170c;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    h3 {
      color: #656668;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .counts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    .item {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
  //.items {
  //  margin-top: 50px;
  //  display: flex;
  //  align-items: flex-end;
  //  gap: 25px;
  //  align-self: stretch;
  //  .item {
  //    display: flex;
  //    padding: 24px;
  //    flex-direction: column;
  //    align-items: flex-start;
  //    gap: 40px;
  //    flex: 1 0 0;
  //    border-radius: 12px;
  //    border: 2px solid #e3e3e2;
  //    background: #fff;
  //    box-shadow: 1px 6px 70.9px -16px rgba(0, 0, 0, 0.1);
  //    &.selected{
  //      border-radius: 12px;
  //      border: 2px solid #009245;
  //      background: #E4FFF1;
  //      box-shadow: 1px 6px 70.9px -16px rgba(0, 0, 0, 0.10);
  //    }
  //    .name {
  //      display: flex;
  //      padding: 10px 16px;
  //      justify-content: center;
  //      align-items: center;
  //      gap: 10px;
  //      border-radius: 6px;
  //      background: #009245;
  //      p {
  //        color: #fff;
  //        font-size: 15px;
  //        font-style: normal;
  //        font-weight: 600;
  //        line-height: normal;
  //      }
  //    }
  //    .price {
  //      color: #656668;
  //      leading-trim: both;
  //      text-edge: cap;
  //      font-family: Inter;
  //      font-size: 16px;
  //      font-style: normal;
  //      font-weight: 400;
  //      line-height: 24px; /* 150% */
  //      span {
  //        color: #13170c;
  //        leading-trim: both;
  //        text-edge: cap;
  //        font-family: Inter;
  //        font-size: 32px;
  //        font-style: normal;
  //        font-weight: 500;
  //        line-height: 56px; /* 175% */
  //      }
  //    }
  //    .btn {
  //      display: flex;
  //      flex-direction: column;
  //      align-items: flex-start;
  //      padding-top: 18px;
  //      align-self: stretch;
  //      width: 100%;
  //      border-top: 1px solid #e3e3e2;
  //      button {
  //        display: flex;
  //        padding: 14px 16px;
  //        justify-content: center;
  //        align-items: center;
  //        gap: 10px;
  //        align-self: stretch;
  //        border-radius: 12px;
  //        border: 1px solid #e3e3e2;
  //        color: #13170c;
  //        font-size: 15px;
  //        font-style: normal;
  //        font-weight: 600;
  //        line-height: normal;
  //      }
  //    }
  //  }
  //}
  .items {
    display: inline-flex;
    align-items: flex-end;
    gap: 25px;
    margin-top: 20px;
    @media (max-width: 769px) {
      flex-direction: column;
      width: 100%;
    }
    .item {
      display: flex;
      max-width: 329px;
      flex: 1;
      padding: 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      border-radius: 12px;
      border: 1px solid #e3e3e2;
      background: #fff;
      box-shadow: 1px 6px 70.9px -16px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      @media (max-width: 769px) {
        width: 100%;
        max-width: 100%;
      }
      .name {
        display: flex;
        padding: 10px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 6px;
        background: #009245;
        p {
          color: #fff;
          font-size: 15px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
      .descr {
        p {
          color: #656668;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
        }
      }
      .price {
        margin-top: 20px;
        height: 41px;

        p {
          color: #656668;
          leading-trim: both;
          text-edge: cap;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          height: 100%;
          display: flex;
          align-items: center;
          gap: 8px;
          span {
            color: #13170c;
            leading-trim: both;
            text-edge: cap;
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 56px; /* 175% */
            height: 100%;
            display: flex;
            align-items: center;
            gap: 8px;
          }
        }
      }
      .features {
        padding-top: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        border-top: 1px solid #e3e3e2;
        .f-item {
          display: flex;
          align-items: center;
          gap: 12px;
          align-self: stretch;
          p {
            color: #13170c;
            leading-trim: both;
            text-edge: cap;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
          }
        }
      }
      .btn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 18px;
        align-self: stretch;
        width: 100%;
        border-top: 1px solid #e3e3e2;
        margin-top: 30px;

        button {
          display: flex;
          padding: 14px 16px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          align-self: stretch;
          border-radius: 12px;
          border: 1px solid #e3e3e2;
          color: #13170c;
          font-size: 15px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }

      &.selectedItem {
        border: 1px solid rgba(0, 146, 69, 0.46);
        background: linear-gradient(
            158deg,
            #009245 -5.01%,
            rgba(0, 146, 69, 0.19) 34.15%,
            rgba(0, 146, 69, 0.05) 63.02%,
            rgba(0, 146, 69, 0) 113.74%
        );
        box-shadow: 1px 6px 70.9px -16px rgba(0, 0, 0, 0.1);
        //transform: scale(1.055);
        .btn {
          button {
            border: 1px solid #3b3199;
            background: #3b3199;
            color: #fff;
          }
        }
        .pop {
          display: block;
          p {
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; /* 150% */
          }
        }
        .name {
          background: #fff;
          p {
            color: #13170c;
          }
        }
        @media (max-width: 769px) {
          transform: scale(1);
          border: 1px solid #e3e3e2;
          background: #fff;
          box-shadow: 1px 6px 70.9px -16px rgba(0, 0, 0, 0.1);
          .btn {
            button {
              border: 1px solid #e3e3e2;
              color: #13170c;
              background: none;
            }
          }
        }
      }

      //&:hover {
      //  border: 1px solid rgba(0, 146, 69, 0.46);
      //  background: linear-gradient(
      //      158deg,
      //      #009245 -5.01%,
      //      rgba(0, 146, 69, 0.19) 34.15%,
      //      rgba(0, 146, 69, 0.05) 63.02%,
      //      rgba(0, 146, 69, 0) 113.74%
      //  );
      //  box-shadow: 1px 6px 70.9px -16px rgba(0, 0, 0, 0.1);
      //  transform: scale(1.055);
      //  .btn {
      //    button {
      //      border: 1px solid #3b3199;
      //      background: #3b3199;
      //      color: #fff;
      //    }
      //  }
      //
      //  @media (max-width: 769px) {
      //    transform: scale(1);
      //    border: 1px solid #e3e3e2;
      //    background: #fff;
      //    box-shadow: 1px 6px 70.9px -16px rgba(0, 0, 0, 0.1);
      //    .btn {
      //      button {
      //        border: 1px solid #e3e3e2;
      //        color: #13170c;
      //        background: none;
      //      }
      //    }
      //  }
      //}
    }
  }
  .switcher {
    display: inline-flex;
    background-color: #f3f3f3;
    border-radius: 50px;
    padding: 5px;
    width: auto;
    height: 60px;
    .item {
      border: none;
      border-radius: 50px;
      padding: 10px 30px;
      //background-color: transparent;

      font-size: 14px;
      cursor: pointer;
      transition: all 0.3s ease;
      width: auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        color: #004c24;
        font-size: 20px;
      }
      &.selected {
        background-color: #009245;
        p {
          color: #fff;
        }
      }
    }
  }
  .btns{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 32px;
    width: 100%;
    button{
      width: 147px;
      height: 41px;
      border-radius: 12px;
      background: #F6F6F6;
      color: #656668;
      font-size: 14px;
      font-weight: 600;
      @media (max-width: 400px) {
        width: auto;
        flex: 1;
      }
      &.save{
        background: var(--primary-color);
        color: #FFF;
      }
    }
  }
}
::ng-deep{

}
label.invalidLabel{
  a{
    color: red !important;
  }
}
