.cus-faqs-wrapper {
  padding-bottom: 50px;

  h4 {
    color: #13170C;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .body{
    margin-top: 18px;
  }
}

.heading {
  padding: 0;
  display: flex;
  width: 100%;
  p {
    margin: 0 !important;
    font-size: 15px;
  }
}
.answer {
  width: 100%;
  p {
    width: 100%;
    margin: 0 !important;
  }
}

a{
  text-decoration:none;
  color:var(--text-color);
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 10px;
  i{
    color:red;
    font-size: 22px;
  }
}

