<div class="sign-up-wrapper">
  <div class="form-side">
    <a routerLink="/" class="logo">
      <img src="text-logo.svg" alt="" />
    </a>
    <div class="txt">
      <h4>
        {{
          "Join Our Teaching Community: Inspire, Educate, Empower!" | translate
        }}
      </h4>
      <p>{{ "Sign In and Share Your Knowledge!" | translate }}</p>
    </div>
    <div>
      <div class="expanders">
        <form
          *ngIf="!firstStepPassed"
          [formGroup]="firstStepForm"
          (submit)="Action()"
          class="item expander-container"
        >
          <div class="heading">
            <p>{{ "Account" | translate }}</p>
          </div>
          <div class="inputs">
            <div class="row">
              <div class="input-item">
                <label for="email">{{ "Email" | translate }}</label>
                <input
                  type="text"
                  id="email"
                  formControlName="email"
                  [(ngModel)]="request.email"
                  [class.invalid]="
                    firstStepForm.get('email')?.hasError('pattern') ||
                    (!firstStepForm.get('email')?.value &&
                      firstStepSubmitted) ||
                    firstStepForm.get('email')?.hasError('incorrect')
                  "
                />
              </div>
            </div>
            <div class="row" style="align-items: flex-end">
              <div class="input-item">
                <label for="code">{{ "Verification code" | translate }}</label>
                <input
                  type="number"
                  id="code"
                  formControlName="code"
                  [(ngModel)]="request.verificationCode"
                  [class.invalid]="
                    (!request.verificationCode && firstStepSubmitted) ||
                    (request.verificationCode &&
                      request.verificationCode.toString().length !== 4)
                  "
                />
              </div>
              <button type="button" (click)="sendCode()" style="height: 40px">
                {{ "Send code" | translate }}
              </button>
            </div>
            <button>
              {{ "Next" | translate
              }}
            </button>
          </div>
        </form>
        <form
          *ngIf="firstStepPassed"
          [formGroup]="secondStepForm"
          (submit)="secondAction()"
          class="item expander-container"
        >
          <div class="heading">
            <p>{{ "Account" | translate }}</p>
          </div>
          <div class="inputs">
            <div class="row">
              <div class="input-item">
                <label for="password">{{ "Password" | translate }}</label>
                <div class="block">
                  <input
                    [type]="passVisible ? 'text' : 'password'"
                    id="password"
                    formControlName="password"
                    [(ngModel)]="request.password"
                    [class.invalid]="
                      secondStepForm.get('password')?.hasError('pattern') ||
                      (!secondStepForm.get('password')?.value &&
                        secondStepSubmitted)
                    "
                  />
                  <span>
                    <i
                      *ngIf="!passVisible"
                      (click)="passVisible = !passVisible"
                      class="pi pi-eye"
                    ></i>
                    <i
                      *ngIf="passVisible"
                      (click)="passVisible = !passVisible"
                      class="pi pi-eye-slash"
                    ></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-item">
                <label for="repeat">{{ "Confirm password" | translate }}</label>
                <div class="block">
                  <input
                    [type]="repeatVisible ? 'text' : 'password'"
                    id="repeat"
                    formControlName="confirmPassword"
                    [(ngModel)]="request.confirmPassword"
                    [class.invalid]="
                      secondStepForm
                        .get('confirmPassword')
                        ?.hasError('pattern') ||
                      (!secondStepForm.get('confirmPassword')?.value &&
                        secondStepSubmitted) ||
                      (secondStepForm.get('password')?.value !==
                        secondStepForm.get('confirmPassword')?.value &&
                        secondStepSubmitted)
                    "
                  />
                  <span>
                    <i
                      *ngIf="!repeatVisible"
                      (click)="repeatVisible = !repeatVisible"
                      class="pi pi-eye"
                    ></i>
                    <i
                      *ngIf="repeatVisible"
                      (click)="repeatVisible = !repeatVisible"
                      class="pi pi-eye-slash"
                    ></i>
                  </span>
                </div>
              </div>
            </div>
            <button>
              {{ "Next" | translate
              }}<i class="pi pi-spin pi-spinner" *ngIf="loading"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="image-side">
    <img
      src="https://owleeblob.blob.core.windows.net/images/83dbaad3-8b7d-4b4d-8c35-6eafe735c203-Registration%20%282%29%20%281%29.png"
      alt=""
    />
  </div>
</div>
