<div class="wrapper">
  <section id="first">
    <div class="inner">
      <div class="left">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>
          Owlee is a user-friendly Learning Management System (LMS) designed
          specifically for independent educators, tutors, and small training
          businesses. It provides an all-in-one platform to simplify course
          management, enhance student engagement. With Owlee, educators can
          efficiently manage their courses anytime, anywhere through a
          responsive mobile interface, ensuring seamless access to lesson
          planning, student tracking, and material distribution. By automating
          administrative tasks, Owlee helps educators save valuable time and
          resources, allowing them to focus more on delivering high-quality
          learning experiences. 
        </p>
      </div>
      <div class="right">
        <img
          src="https://owleeblob.blob.core.windows.net/images/2d2ff5d4-c5dd-4bff-8705-912b402d2482-542fa2dc02b7bf390085777445858ccd05ce3f14.webp"
          alt=""
        />
      </div>
    </div>
  </section>
  <section id="seventh">
    <div class="heading">
      <h2>{{ "Who we are?" | translate }}</h2>
      <p>
        {{
          "Great things happen when people with passion and purpose come together."
            | translate
        }}
      </p>
    </div>
    <div class="items">
      <div class="item">
        <div class="image">
          <img
            src="https://owleeblob.blob.core.windows.net/images/62dc8005-b6ff-4059-b849-b07b835f4971-1.%20Iusip%20Nasibov%20%20%281%29.webp"
            alt=""
          />
        </div>
        <div class="txt">
          <a href="https://www.linkedin.com/in/nasibov-yusif" target="_blank"
            >Iusip Nasibov</a
          >
          <p>CEO</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img
            src="https://owleeblob.blob.core.windows.net/images/de208f1c-2826-4a12-90ed-9a8bd8755fa5-2.%20Pharid%20Asker%20%20%281%29.webp"
            alt=""
          />
        </div>
        <div class="txt">
          <a href="https://www.linkedin.com/in/pharid-askerov" target="_blank"
            >Pharid Asker</a
          >
          <p>COO</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img
            src="https://owleeblob.blob.core.windows.net/images/10379321-a221-4e19-85c8-8f7e7c893262-Aitaj%20Khalilli%20%281%29.webp"
            alt=""
          />
        </div>
        <div class="txt">
          <a
            href="https://www.linkedin.com/in/aitaj-khalilli-803a86254/"
            target="_blank"
            >Aitaj Khalilli</a
          >
          <p>CXO</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img
            src="https://owleeblob.blob.core.windows.net/images/62023148-e4dd-4557-9f20-07816635e4ff-Omar%20Ibragimovi%20%281%29.webp"
            alt=""
          />
        </div>
        <div class="txt">
          <a>Omar Ibragimovi</a>
          <p>CMO</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img
            src="https://owleeblob.blob.core.windows.net/images/91aef2ab-a4a1-4666-91d3-7a18a34aa2b0-5.%20Aslan%20Gurbanov%20CTO%20%281%29.webp"
            alt=""
          />
        </div>
        <div class="txt">
          <a
            href="https://www.linkedin.com/in/aslan-gurbanov-0a17a312a/"
            target="_blank"
            >Aslan Gurbanov</a
          >
          <p>CTO</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <!--            <img-->
          <!--              src="https://owleeblob.blob.core.windows.net/images/91aef2ab-a4a1-4666-91d3-7a18a34aa2b0-5.%20Aslan%20Gurbanov%20CTO%20%281%29.webp"-->
          <!--              alt=""-->
          <!--            />-->
        </div>
        <div class="txt">
          <a
            href="https://www.linkedin.com/in/nigar-rustamova-aba229272/"
            target="_blank"
            >Nigar Rustamova</a
          >
          <p>SMM</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <!--            <img-->
          <!--              src="https://owleeblob.blob.core.windows.net/images/91aef2ab-a4a1-4666-91d3-7a18a34aa2b0-5.%20Aslan%20Gurbanov%20CTO%20%281%29.webp"-->
          <!--              alt=""-->
          <!--            />-->
        </div>
        <div class="txt">
          <a
            href="https://www.linkedin.com/in/sabina-kazimovi-2baa76205/"
            target="_blank"
            >Sabina Kazimovi</a
          >
          <p>Academic Director</p>
        </div>
      </div>
      <div class="item">
        <!--          <div class="image">-->
        <!--            <img-->
        <!--              src="https://owleeblob.blob.core.windows.net/images/91aef2ab-a4a1-4666-91d3-7a18a34aa2b0-5.%20Aslan%20Gurbanov%20CTO%20%281%29.webp"-->
        <!--              alt=""-->
        <!--            />-->
        <!--          </div>-->
        <div class="txt">
          <a>Ayhan Hasanli</a>
          <p>Legal Adviser</p>
        </div>
      </div>
    </div>
  </section>
  <section id="eighth">
    <div class="heading">
      <h2>{{ "Partners" | translate }}</h2>
      <p>
        {{
          "All great partnerships are built on trust, respect, and the willingness to grow together."
            | translate
        }}
      </p>
    </div>
    <div class="items">
      <div class="item">
        <div class="image">
          <img src="partner-logos/gita.png" alt="" />
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img style="height: 90px" src="partner-logos/butterfly.svg" alt="" />
        </div>
      </div>
    </div>
  </section>
</div>
