.course-info {
  display: flex;
  @media (max-width: 1360px) {
    gap: 30px;
  }
  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 20px;
  }
  .left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 10px;
    @media (max-width: 769px) {
      width: 100%;
    }
    .back {
      display: flex;
      gap: 20px;
      align-items: center;
      cursor: pointer;
      width: 720px;
      position: relative;
      @media (max-width: 1360px) {
        width: auto;
      }
      @media (max-width: 769px) {
        width: 100%;
      }
      i {
        color: #656668;
        position: absolute;
        left: -43px;
        top: 5px;
      }
      p {
        font-size: 20px;
        font-weight: 700;
      }
    }
    .image {
      display: flex;
      gap: 20px;
      @media (max-width: 769px) {
        flex-direction: column;
      }
      .main-image {
        width: 600px;
        max-height: 185px;
        border-radius: 8px;
        object-fit: cover;
        @media (max-width: 1260px) {
          width: 500px;
        }
        @media (max-width: 1160px) {
          width: 400px;
        }
        @media (max-width: 1024px) {
          width: 600px !important;
        }
        @media (max-width: 769px) {
          width: 100% !important;
        }

      }
      .actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media (max-width: 769px) {
          flex-direction: row;
        }
        .item {
          display: flex;
          align-items: center;
          //width: 100px;
          height: 32px;
          border-radius: 8px;
          gap: 11px;
          background-color: #f6f6f6;
          padding: 6px 8px;
          cursor: pointer;
          .icon {
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          p,
          i {
            font-weight: 500;
            font-size: 14px;
            color: #656668;
          }
          &.edit {
            background-color: #3b3199;
            p {
              color: #fff;
            }
          }
          &.delete {
            p {
              color: #ef3838;
            }
          }
        }
      }
    }
    .language {
      display: flex;
      align-items: center;
      gap: 46px;
      label {
        font-size: 14px;
        font-weight: 500;
        color: #90928d;
      }
      p {
        font-size: 14px;
        font-weight: 700;
        color: var(--text-color);
      }
    }
    .description {
      width: 600px;
      @media (max-width: 1260px) {
        width: 500px;
      }
      @media (max-width: 1160px) {
        width: 400px;
      }
      @media (max-width: 769px) {
        width: 100%;
      }
      p {
        font-size: 14px;
        font-weight: 500;
        color: #90928d;
        line-height: 16.94px;
      }
    }
  }
  .right {
    display: flex;
    width: 380px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    @media (max-width: 1024px) {
      width: 100%;
    }
    .status {
      display: flex;
      padding: 24.667px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      flex-shrink: 0;
      align-self: stretch;
      border-radius: 16px;
      border: 0.667px solid #e0e0df;
      background: #fff;
      .heading {
        display: flex;
        height: 28px;
        padding-right: 0;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        align-self: stretch;
        width: 100%;
        p {
          color: #13170c;
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 27px; /* 150% */
          letter-spacing: -0.439px;
        }
        .st {
          display: flex;
          padding: 6.667px 12.24px 5.333px 12px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 22369600px;
          background: #f3f4f6;
          color: #364153;
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 16px; /* 133.333% */
          span {
            width: 8px;
            height: 8px;
            border-radius: 22369600px;
            background: #6a7282;
          }
        }
      }
      .description {
        display: flex;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 14px;
        background: #f6f6f6;
        p {
          color: #13170c;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22.75px; /* 162.5% */
          letter-spacing: -0.15px;
        }
      }
      button {
        width: 100%;
        display: flex;
        padding: 13px;
        justify-content: center;
        align-items: center;
        border-radius: 14px;
        background: #009245;
        color: #fff;
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 142.857% */
        letter-spacing: -0.15px;
      }
      &.rejected {
        .heading {
          .st {
            background: #ffe2e2;
            color: #c10007;
            span {
              background: #fb2c36;
            }
          }
        }
        .reason {
          display: flex;
          padding: 16.667px;
          justify-content: center;
          gap: 8px;
          align-self: stretch;
          border-radius: 14px;
          border: 0.667px solid #ffc9c9;
          background: #fef2f2;
          svg {
            min-width: 20px;
          }
          .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 8px;
            align-self: stretch;
            h4 {
              color: #82181a;
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 20px; /* 142.857% */
              letter-spacing: -0.15px;
            }
            p {
              color: #9f0712;
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 22.75px; /* 162.5% */
              letter-spacing: -0.15px;
            }
          }
        }
      }
      &.waiting {
        .heading {
          .st {
            background: #fef9c2;
            color: #a65f00;

            span {
              background: #a65f00;
            }
          }
        }
        button {
          background: #fb2c36;
        }
      }
      &.pending {
        .heading {
          .st {
            background: #fef9c2;
            color: #a65f00;

            span {
              background: #a65f00;
            }
          }
        }
        button {
          background: #fb2c36;
        }
      }
      &.active {
        .heading {
          .st {
            background: #dcfce7;
            color: #009245;

            span {
              background: #009245;
            }
          }
        }
        button {
          background: #fb2c36;
        }
      }
      &.completed {
        .heading {
          .st {
            background: #dbeafe;
            color: #1447e6;

            span {
              background: #1447e6;
            }
          }
        }
      }
    }
    .actions {
      display: flex;
      padding: 24.667px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      flex-shrink: 0;
      align-self: stretch;
      border-radius: 16px;
      border: 0.667px solid #e0e0df;
      background: #fff;
      .heading {
        p {
          color: #13170c;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px; /* 150% */
          letter-spacing: -0.312px;
        }
      }
      .btns {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        flex-shrink: 0;
        align-self: stretch;
        button {
          display: flex;
          width: 330.667px;
          padding: 13px 16px;
          align-items: flex-start;
          gap: 12px;
          border-radius: 14px;
          background: #3b3199;
          color: #fff;
          text-align: center;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px; /* 142.857% */
          letter-spacing: -0.15px;
          @media (max-width: 1024px) {
            width: 100%;
          }
          &.duplicate {
            background: #f6f6f6;
            color: #13170c;
          }
          &.delete {
            background: #fef2f2;
            color: #e7000b;
          }
        }
      }
    }
  }
}
::ng-deep {
  .p-dialog .p-dialog-header,
  .p-dialog .p-dialog-content {
    background: transparent !important;
  }
  .confirm-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    i {
      font-size: 60px;
      color: orange;
    }
    p {
      width: 70%;
      text-align: center;
      color: orange;
      margin-bottom: 21px !important;
    }
  }
  .p-dialog-footer {
    .p-button {
      padding: 0px 20px !important;
      height: 40px;
      background: #f6f6f6 !important;
      border: none !important;
      color: #656668 !important;
      &.p-confirmdialog-accept-button {
        background: var(--primary-color) !important;
        border: none !important;
        color: #fff !important;
      }
    }
  }
}
