.wrapper {
  padding-top: 30px;
  .row.personal {
    display: flex;
    align-items: center;
    gap: 20px;
    .col {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      label {
        color: #90928d;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      p {
        color: #13170c;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
  .tabs {
    display: flex;
    width: 100%;
    padding: 6px 8px;
    align-items: flex-start;
    gap: 20px;
    border-radius: 6px;
    background: #f7f7f7;
    margin-top: 30px;
    .tab {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 7px;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      p{
        color: #90928D;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      &.selected {
        border-bottom: 2px solid #000;
        p{
          color: #13170C;
        }
      }

    }
  }
  .payment-content {
    margin-top: 30px;
    .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 769px) {
        flex-direction: column-reverse;
        gap: 20px;
        align-items: flex-start;
      }
      button {
        padding: 8px 16px;
        height: 35px;
        border-radius: 6px;
        background-color: #c6e7ff;
        color: var(--primary-color);
        font-weight: 600;
        font-size: 16px;
        &.not-allowed {
          background-image: url("https://metagroupblob.blob.core.windows.net/delivery-container/bf81711c-3f0a-4445-bc76-e7b6479137ec-image%2023.png");
          background-repeat: round;
          background-size: cover;
          color: #FFF;
        }
      }
    }
    .search {
      display: flex;
      align-items: center;
      gap: 16px;
      p {
        font-weight: 500;
        font-size: 14px;
      }
      .search-block {
        position: relative;
        display: flex;
        align-items: center;
        i {
          color: #90928d;
          position: absolute;
          left: 10px;
          font-size: 13px;
        }
        input {
          color: #90928d !important;
          font-size: 14px;
          font-weight: 400;
          border: none;
          background: transparent !important;
          border-left: 1px solid #90928d;
          border-radius: 0 !important;
          height: 17px;
          padding-left: 30px;
          width: 400px;
          @media (max-width: 769px) {
            width: 200px;
          }
        }
      }
    }
    .list{
      margin-top: 17px;
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 16px;
      align-items: center;
      //gap: 12px;
      border-radius: 6px;
      border: 1px solid #E3E3E2;
      .l-heading{
        display: flex;
        align-items: center;
        height: 30px;
        align-self: stretch;
        border-radius: 6px;
        background: #EFEFEF;
        .col{
          flex: 1;
          padding: 9px;
          p{
            color: #4C4C54;
            font-family: Inter;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
      .l-body{
        display: flex;
        flex-direction: column;
        width: 100%;
        .row{
          display: flex;
          align-items: center;
          width: 100%;
          border-bottom: 1px solid #E3E3E2;

          .col{
            flex:1;
            padding: 22px 9px;
            p{
              color: #4C4C54;
              font-family: Inter;
              font-size: 13px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
            &.name{
              p{
                color: #13170C;
                font-size: 14px;
                font-weight: 600;
              }
            }
            &.btn{
              button{
                display: flex;
                padding: 6px;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;
                border-radius: 45px;
                background: #009245;
                //width: 74px;
                height: 28px;
                color: #FFF;
                font-family: Inter;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
              p{
                color: #009245;
                font-family: Inter;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
            }

          }
          &:last-child{
            border-bottom: none;
            .col{
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }

}
