<div class="wrapper">
  <app-upsert-heading [name]="'FAQs'" (save)="save()"></app-upsert-heading>
  <div class="content">
    <div class="row">
      <div class="input-item" style="max-width: calc((100% - 20px) / 2)">
        <label>{{ "Type" | translate }} </label>

        <p-dropdown
          [style]="{ width: '100%', height: '40px' }"
          [options]="types"
          optionLabel="name"
          optionValue="value"
          [(ngModel)]="request.faqType"
          id="implementationType"
        ></p-dropdown>
      </div>
    </div>
    <div class="row">
      <div class="input-item" *ngFor="let item of request.title.items">
        <label>{{ "Name" | translate }} ( {{ item.languageName }} )</label>
        <input
          type="text"
          [ngClass]="{ invalid: !item.isValid && isSubmitted }"
          [(ngModel)]="item.value"
          placeholder="{{ item.languageName | translate }}"
        />
      </div>
    </div>
    <div class="row">
      <div class="input-item" *ngFor="let item of request.body.items">
        <label>{{ "Body" | translate }} ( {{ item.languageName }} )</label>
        <textarea
          type="text"
          [ngClass]="{ invalid: !item.isValid && isSubmitted }"
          [(ngModel)]="item.value"
          placeholder="{{ item.languageName | translate }}"
        ></textarea>
      </div>
    </div>
  </div>
</div>
