.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 35px 40px 54px 40px;
  @media (max-width: 769px) {
    padding: 24px 16px 50px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }



  .line {
    width: 100%;
    height: 1px;
    background: #000;
  }

  .row {
    display: flex;
    align-items: center;
    //justify-content: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;

    @media (max-width: 769px) {
      flex-direction: column;
    }
    .input-item {
      display: flex;
      flex-direction: column;
      gap: 5px;
      flex: 1;
      width: auto;
      min-width: 40%;
      @media (max-width: 769px) {
        width: 100%;
      }
      label {
        color: #1a1a1a;
        font-size: 14px;
        font-weight: 500;
      }
      input {
        width: 100% !important;
      }
    }
  }
}
.input-item {
  input {
    width: 100%;
    padding-right: 30px;

    &:disabled {
      opacity: 0.3;
    }
  }
  .block {
    display: flex;
    align-items: center;
    position: relative;
  }
  .input {
    position: relative;
    display: flex;
    align-items: center;
  }
  .icon {
    position: absolute;
    right: 16px;
  }
}


