.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 54px 74px 54px 65px;
  @media (max-width: 769px) {
    padding: 24px 16px;
  }

  .counts {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 16px;
    flex-wrap: wrap;
    .item {
      flex: 1;
      background: var(--primary-color);
      border-radius: 12px;
      height: 107px;
      gap: 9px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 250px;
      label {
        font-weight: 400;
        font-size: 16px;
        color: #fff;
      }
      p {
        font-weight: 700;
        font-size: 18px;
        color: #fff;
      }
    }
  }
  .courses {
    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 769px) {
        flex-direction: column;
        gap: 15px;
      }
      .left{
        display: flex;
        flex-direction: column;
        gap: 12px;
        @media (max-width: 769px) {
          width: 100%;
        }
        h4 {
          font-weight: 700;
          font-size: 16px;
        }
        .search {
          display: flex;
          align-items: center;
          gap: 16px;
          @media (max-width: 769px) {
            flex-direction: column;
            align-items: flex-start;
          }
          p {
            font-weight: 500;
            font-size: 14px;
          }
          .search-block {
            position: relative;
            display: flex;
            align-items: center;
            i {
              color: #90928d;
              position: absolute;
              left: 10px;
              font-size: 13px;
            }
            input {
              color: #90928d !important;
              font-size: 14px;
              font-weight: 400;
              border: none;
              background: transparent !important;
              border-left: 1px solid #90928d;
              border-radius: 0 !important;
              height: 17px;
              padding-left: 30px;
              width: 400px;
              @media (max-width: 769px) {
                width: 100% ;
              }
            }
          }
        }
      }
      .right{
        @media (max-width: 769px) {
          width: 100%;
          .input-item{
            width: 100% !important;
          }

        }
      }

    }
    .items {
      margin-top: 30px;
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      .item {
        cursor: pointer;

        width: calc((100% - 48px) / 4);
        min-width: 250px;
        min-height: 292px;
        border-radius: 16px;
        background: #f6f6f6;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        gap: 16px;
        @media (max-width: 480px) {
          width: 100%;
        }
        &.add {
          gap: 32px;
          p {
            font-size: 18px;
            font-weight: 600;
          }
        }
        .status{
          display: flex;
          padding: 3px 10px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 3px;
          p{
            color: #FFF;
            font-family: Inter;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          &.draft{
            background: #3B3199;
          }
          &.waiting{
            background: #A65F00;
          }
          &.rejected{
            background: #FB2C36;
          }
          &.pending{
            background: #FF9300;
          }
          &.active{
            background: #009245;
          }
          &.completed{
            background: #009245;
          }
          &.canceled{
            background: #D62828;
          }
        }
        .image {
          height: 150px;
          width: 100%;
          position: relative;
          img {
            border-radius: 16px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .lang-icon {
            display: flex;
            padding: 4px;
            align-items: center;
            gap: 10px;
            position: absolute;
            left: 9px;
            top: 11px;
            border-radius: 37px;
            background: #fff;
            img {
              width: 29px;
              height: 29px;
              border-radius: 37px;
              object-fit: cover;
            }
          }
        }
        .info {
          padding: 0 16px 22px 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 20px;
          width: 100%;
          height: calc(100% - 165px);
          align-items: flex-start;
          .name {
            p {
              font-weight: 600;
              font-size: 18px;
              line-height: 21.78px;
            }
          }
          .statistics {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            label {
              font-weight: 600;
              font-size: 14px;
              color: #90928d;
            }
            .st-item {
              display: flex;
              flex-direction: column;
              gap: 6px;
              .value {
                display: flex;
                align-items: center;
                gap: 6px;
                p {
                  font-weight: 500;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
::ng-deep {
  .search-drop {
    .p-select {
      border-radius: 10px !important;
      border: 0.75px solid #D1D5DC !important;
      background: #FFF !important;

      .p-select-label {
        color: rgba(10, 10, 10, 0.50);
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.234px;
      }
    }
  }
}
