.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    .input-item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      flex: 1;
      width: 100%;
      label {
        color: #90928d;
        font-size: 14px;
        font-weight: 500;
      }

      input {
        width: 100%;
        border-radius: 12px;
        color: var(--text-color) !important;
        font-weight: 600;
        font-size: 14px;
        border: 1px solid var(--p-select-border-color) !important;
        height: 48px !important;
      }
    }
  }
  .btns{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    button{
      width: 147px;
      height: 41px;
      border-radius: 12px;
      background: #F6F6F6;
      color: #656668;
      font-size: 14px;
      font-weight: 600;
      @media (max-width: 400px) {
        width: auto;
        flex: 1;
      }
      &.save{
        background: var(--primary-color);
        color: #FFF;
      }
    }
  }
}
